@import '~antd/dist/antd.css';
@import './cyberdyne.css';
@import './robotoMono.css';
@import './payment.css';
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes comeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  75% {
    transform: scale(1.03);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
body, html, #root, .App {
  height: 100%;
  width: 100%;
  background-size: 100%;
  position: relative;
}

h1 {
  color: #F2F2F2;
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
}

p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

div {
  word-wrap: break-word;
}

body {
  margin: 0;
  font-family: "Roboto Mono", "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #F2F2F2;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App-background {
  background: url("../images/background.jpg");
  position: fixed;
  height: 100%;
  width: 100%;
}

.App-content {
  height: 100%;
  display: grid;
  grid-template-columns: 200px calc(100% - 400px) 200px;
}

.center {
  min-width: 770px;
  margin: 0 auto;
  position: relative;
}
.center .content {
  margin-bottom: 100px;
}

.header {
  margin: 0 auto;
  width: 770px;
  position: relative;
  height: 120px;
}
.header .inputS p {
  color: inherit;
}
.header .header-content {
  position: relative;
  z-index: 100;
  height: 100%;
}
.header .header-background {
  position: absolute;
  background: #11161bb8;
  height: 100%;
  width: 100%;
  margin-top: 1px;
  margin-left: 1px;
  top: 0px;
  z-index: 1;
  -webkit-mask-image: url("../svg/headerBackground.svg");
  mask-image: url("../svg/headerBackground.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.header .header-outline {
  position: absolute;
  background: #83e4e469;
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: 1;
  -webkit-mask-image: url("../svg/headerOutline.svg");
  mask-image: url("../svg/headerOutline.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}

.footer {
  height: 58px;
  width: 770px;
  position: absolute;
  bottom: 0;
}
.footer .footer-outline {
  position: absolute;
  background: #83E4E4;
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: 1;
  -webkit-mask-image: url("../svg/footerOutline.svg");
  mask-image: url("../svg/footerOutline.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.footer .footer-background {
  position: absolute;
  background: #11161bb8;
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: 1;
  -webkit-mask-image: url("../svg/footerBackground.svg");
  mask-image: url("../svg/footerBackground.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}

.background_g1, .background_g2 {
  z-index: 1;
  opacity: 5%;
  position: fixed;
  top: calc(50% - 300px);
  left: calc(50% - 350px);
}

.background_g2 {
  top: calc(50% - 115px);
  left: calc(50% - 250px);
}

.btn-group {
  display: flex;
  flex-direction: row;
}

.circle-background {
  fill: none;
  stroke: #ddd;
}

.circle-progress {
  fill: none;
  stroke: red;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-family: "cyberdyne";
  font-size: 35px;
}

.avatar2 {
  width: 32px;
  height: 32px;
}
.avatar2 img {
  border-radius: 16px;
}

.textIF p {
  color: #F2F2F2;
  font-size: 16px;
  font-weight: bold;
}
.textIF input {
  padding: 0 10px;
  color: #FFFFFF;
  background: #11161bb8;
  border: #83E4E4 1px solid;
  border-radius: 3px;
  font-size: 12px;
  width: 366px;
}

.inputS {
  position: relative;
}
.inputS .inputS_imgLeft, .inputS .inputS_imgRight {
  position: absolute;
}
.inputS .inputS_imgRight {
  right: 0;
}
.inputS p {
  color: inherit;
  font-size: 16px;
  position: absolute;
  width: 100%;
}
.inputS .inputS-outline {
  height: 28px;
  -webkit-mask-image: url("../svg/border.svg");
  mask-image: url("../svg/border.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  cursor: pointer;
}
.inputS .inputS-shadow {
  position: absolute;
  top: 14px;
}

.avatar1 {
  cursor: pointer;
}
.avatar1 .outline {
  position: absolute;
  display: flex;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  -webkit-mask-size: 128px;
  width: 133px;
  height: 130px;
  -webkit-mask-image: url("../svg/outline.svg");
  mask-image: url("../svg/outline.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center center;
}
.avatar1 .outlineBorder {
  position: absolute;
  display: flex;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  -webkit-mask-size: 128px;
  width: 133px;
  height: 130px;
  -webkit-mask-image: url("../svg/outlineBorder.svg");
  mask-image: url("../svg/outlineBorder.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center center;
}
.avatar1 .avatar {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  align-self: center;
}
.avatar1 .avatar .shield {
  position: absolute;
  background: #f1efef;
  background: linear-gradient(180deg, #f1efef 0%, #cbfafc 100%);
  width: 70px;
  height: 83px;
  -webkit-mask-image: url("../svg/shieldOutline.svg");
  mask-image: url("../svg/shieldOutline.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center center;
}
.avatar1 .avatar .photo {
  position: absolute;
  width: 70px;
  height: 83px;
  display: block;
  -webkit-mask-image: url("../svg/shield.svg");
  mask-image: url("../svg/shield.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.buttonS {
  cursor: pointer;
}

.headerArena {
  display: grid;
  grid-template-columns: 210px 350px 210px;
}
.headerArena .headerArena-leftSide {
  width: 160px;
  margin-left: 51px;
  margin-top: 30px;
}
.headerArena .headerArena-leftSide .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderSmall.svg");
  mask-image: url("../svg/borderSmall.svg");
}
.headerArena .headerArena-leftSide .inputS .inputS-children p {
  color: inherit;
}
.headerArena .headerArena-leftSide .inputS .inputS_imgLeft {
  width: 25px;
  height: 26px;
  left: 19px;
  top: 11px;
}
.headerArena .headerArena-leftSide .inputS .inputS_imgLeft .image {
  width: 25px;
  height: 23px;
  -webkit-mask-image: url("../svg/gg.svg");
  mask-image: url("../svg/gg.svg");
}
.headerArena .headerArena-leftSide .inputS p {
  text-align: center;
  line-height: 42px;
}
.headerArena .headerArena-leftSide .inputS .inputS-outline {
  height: 45px;
  transform: rotateY(180deg);
}
.headerArena .headerArena-center {
  position: relative;
  width: 345px;
  height: 129px;
  margin: 0 auto;
  z-index: 100;
}
.headerArena .headerArena-center .headerArena-csgo {
  position: absolute;
  z-index: 200;
  left: calc(50% - 152px / 2);
  top: 25px;
}
.headerArena .headerArena-center .headerArena-trapeze {
  position: absolute;
  z-index: 100;
}
.headerArena .headerArena-rightSide {
  width: 160px;
  margin-top: 30px;
  margin-left: 20px;
}
.headerArena .headerArena-rightSide .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderSmall.svg");
  mask-image: url("../svg/borderSmall.svg");
}
.headerArena .headerArena-rightSide .inputS .inputS_imgRight {
  right: 20px;
  top: 7px;
}
.headerArena .headerArena-rightSide .inputS .inputS_imgRight .image {
  width: 30px;
  height: 29px;
  -webkit-mask-image: url("../svg/person.svg");
  mask-image: url("../svg/person.svg");
}
.headerArena .headerArena-rightSide .inputS .nickName {
  margin-top: 5px;
}
.headerArena .headerArena-rightSide .inputS .cash {
  margin-top: 20px;
}
.headerArena .headerArena-rightSide .inputS .inputS_imgLeft {
  width: 25px;
  height: 23px;
  left: 20px;
  top: 7px;
}
.headerArena .headerArena-rightSide .inputS p {
  font-family: "cyberdyne condensed";
  text-align: right;
  padding-right: 55px;
  font-size: 13px;
}
.headerArena .headerArena-rightSide .inputS .inputS-outline {
  height: 45px;
}

.headerNews {
  display: grid;
  grid-template-columns: 210px 350px 210px;
}
.headerNews .headerNews-leftSide {
  width: 160px;
  margin-left: 35px;
  margin-top: 20px;
}
.headerNews .headerNews-leftSide .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderSmall.svg");
  mask-image: url("../svg/borderSmall.svg");
}
.headerNews .headerNews-leftSide .inputS .inputS-children p {
  color: inherit;
}
.headerNews .headerNews-leftSide .inputS .inputS_imgLeft {
  width: 25px;
  height: 26px;
  left: 25px;
  top: 11px;
}
.headerNews .headerNews-leftSide .inputS .inputS_imgLeft .image {
  width: 25px;
  height: 23px;
  -webkit-mask-image: url("../svg/gg.svg");
  mask-image: url("../svg/gg.svg");
}
.headerNews .headerNews-leftSide .inputS p {
  text-align: center;
  line-height: 42px;
}
.headerNews .headerNews-leftSide .inputS .inputS-outline {
  height: 50px;
  transform: rotateY(180deg);
}
.headerNews .headerNews-center {
  position: relative;
  width: 345px;
  height: 129px;
  margin: 0 auto;
  z-index: 100;
}
.headerNews .headerNews-center .headerNews-title {
  position: absolute;
  z-index: 200;
  left: calc(50% - 48px);
  font-size: 24px;
  color: #83E4E4;
}
.headerNews .headerNews-center .headerNews-earth {
  position: absolute;
  z-index: 200;
  left: calc(50% - 39px);
  top: 40px;
}
.headerNews .headerNews-center .headerNews-trapeze {
  position: absolute;
  z-index: 100;
}
.headerNews .headerNews-rightSide {
  width: 160px;
  margin-top: 20px;
  margin-left: 20px;
}
.headerNews .headerNews-rightSide .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderSmall.svg");
  mask-image: url("../svg/borderSmall.svg");
}
.headerNews .headerNews-rightSide .inputS .inputS_imgRight {
  right: 20px;
  top: 7px;
}
.headerNews .headerNews-rightSide .inputS .inputS_imgRight .image {
  width: 30px;
  height: 29px;
  -webkit-mask-image: url("../svg/person.svg");
  mask-image: url("../svg/person.svg");
}
.headerNews .headerNews-rightSide .inputS .nickName {
  margin-top: 5px;
}
.headerNews .headerNews-rightSide .inputS .cash {
  margin-top: 20px;
}
.headerNews .headerNews-rightSide .inputS .inputS_imgLeft {
  width: 25px;
  height: 23px;
  left: 20px;
  top: 7px;
}
.headerNews .headerNews-rightSide .inputS p {
  font-family: "cyberdyne condensed";
  text-align: right;
  padding-right: 55px;
  font-size: 13px;
}
.headerNews .headerNews-rightSide .inputS .inputS-outline {
  height: 50px;
}

.headerPersonal {
  display: grid;
  grid-template-columns: 115px 70px 250px 100px calc(100% - (115px + 70px + 250px + 100px) - 15px * 4);
  grid-gap: 15px;
}
.headerPersonal .side1 {
  margin-top: 20px;
  margin-left: 24px;
}
.headerPersonal .side1 .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderShort.svg");
  mask-image: url("../svg/borderShort.svg");
}
.headerPersonal .side1 .inputS .inputS_imgLeft {
  width: 25px;
  height: 26px;
  left: 10px;
  top: 8px;
}
.headerPersonal .side1 .inputS .inputS_imgLeft .image {
  width: 25px;
  height: 23px;
  -webkit-mask-image: url("../svg/gg.svg");
  mask-image: url("../svg/gg.svg");
}
.headerPersonal .side1 .inputS p {
  padding-right: 9px;
  line-height: 38px;
  text-align: right;
}
.headerPersonal .side1 .inputS .inputS-outline {
  height: 38px;
  transform: rotateY(180deg);
}
.headerPersonal .side2 {
  margin-top: 20px;
  height: 83px;
}
.headerPersonal .side2 .avatar1 .outline {
  background: none;
  height: 83px;
  width: 70px;
}
.headerPersonal .side2 .avatar1 .outline .avatar {
  height: 83px;
  width: 70px;
}
.headerPersonal .side2 .avatar1 .outline .avatar img {
  height: 83px;
  width: 70px;
}
.headerPersonal .side2 .avatar1 .outlineBorder {
  display: none;
}
.headerPersonal .side3 {
  margin-top: 30px;
}
.headerPersonal .side3 .nickName {
  font-size: 12px;
}
.headerPersonal .side3 .about {
  font-size: 12px;
}
.headerPersonal .side3 .icons {
  color: #83E4E4;
}
.headerPersonal .side4 {
  margin-top: 30px;
}
.headerPersonal .side4 .title {
  font-size: 12px;
  text-align: center;
}
.headerPersonal .side4 .raiting {
  text-align: center;
  font-size: 18px;
  font-family: "cyberdyne expanded";
  color: #83E4E4;
}
.headerPersonal .side5 {
  margin-top: 20px;
  width: 160px;
}
.headerPersonal .side5 .inputS {
  font-family: "cyberdyne condensed";
  margin-bottom: 10px;
  text-align: center;
}
.headerPersonal .side5 .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderSmall.svg");
  mask-image: url("../svg/borderSmall.svg");
}
.headerPersonal .side5 .icon {
  margin-right: 10px;
  cursor: pointer;
}
.headerPersonal .side5 .nickName {
  cursor: pointer;
}

.registration {
  position: relative;
  z-index: 100;
  padding-top: 84px;
  width: 582px;
  margin: 0 auto;
  height: 100%;
}
.registration form {
  width: 370px;
  margin: 0 auto;
}
.registration .registration__signIn {
  width: 366px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.registration .registration__signIn .registration__button {
  background: none;
  font-size: 16px;
  color: #F2F2F2;
  border: none;
}
.registration .registration_title {
  font-weight: bold !important;
  font-size: 16px !important;
  color: #F2F2F2 !important;
}
.registration .registration__login, .registration .registration__password, .registration .registration__confirm-password {
  margin-bottom: 12px;
}
.registration .registration__date {
  margin-bottom: 12px;
}
.registration .registration__date p {
  font-size: 16px;
  color: #F2F2F2;
}
.registration .registration__date .ant-select {
  width: 78px;
}
.registration .registration__date .registration__dateSelector {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 30px;
}
.registration .registration__date .ant-select-selector {
  height: 17px;
  background: #11161bb8;
  border: #83E4E4 1px solid;
  border-radius: 3px;
  font-size: 12px;
  color: #F2F2F2;
  text-align: center;
}
.registration .registration__date .ant-select-selection-search {
  left: 0px;
  width: 95px;
}
.registration .registration__date .ant-select-selection-item {
  margin: 0 auto;
  line-height: 17px;
  padding: 0;
}
.registration .registration__date .ant-select-arrow {
  right: -17px;
  color: #FFFFFF;
  font-size: 12px;
  margin-top: -7px;
  width: 15px;
  height: 14px;
}
.registration .registration__sex {
  cursor: pointer;
  margin-bottom: 12px;
}
.registration .registration__sex p {
  color: #F2F2F2;
  font-size: 12px;
}
.registration .registration__sex .registration__radioB {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 30px;
}
.registration .registration__sex .registration__radioB .radioB {
  display: flex;
  flex-direction: columns;
}
.registration .registration__sex .registration__radioB p {
  display: inline;
  margin-right: 7px;
}
.registration .registration__sex .registration__radioB img {
  width: 18px;
  height: 18px;
  margin-left: 1px;
  margin-bottom: 8px;
  transform: rotate(45deg);
}
.registration .registration__sex .registration__radioB .registration__outline {
  border-radius: 2px;
  border: 1px solid #83E4E4;
  margin-top: -2px;
  width: 22px;
  height: 22px;
}
.registration .inputS {
  width: 210px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.registration .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderMedium.svg");
  mask-image: url("../svg/borderMedium.svg");
}
.registration .inputS p {
  text-align: center;
  width: 210px;
}
.registration .registration__exist {
  color: #F2F2F2;
  font-size: 12px;
}

.signIn {
  position: relative;
  z-index: 100;
  padding-top: 84px;
  width: 582px;
  margin: 0 auto;
  height: 100%;
}
.signIn form {
  width: 370px;
  margin: 0 auto;
}
.signIn .signIn__login, .signIn .signIn__password {
  margin-bottom: 12px;
}
.signIn .inputS {
  width: 210px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.signIn .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderMedium.svg");
  mask-image: url("../svg/borderMedium.svg");
}
.signIn .inputS p {
  text-align: center;
  width: 210px;
}
.signIn .signIn_button {
  width: 123px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background: none;
  color: #F2F2F2;
  font-size: 12px;
  border: none;
}

.requestRecPas {
  position: relative;
  z-index: 100;
  padding-top: 84px;
  width: 582px;
  margin: 0 auto;
  height: 100%;
}
.requestRecPas form {
  width: 370px;
  margin: 0 auto;
}
.requestRecPas .inputS {
  width: 210px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.requestRecPas .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderMedium.svg");
  mask-image: url("../svg/borderMedium.svg");
}
.requestRecPas .inputS p {
  text-align: center;
  width: 210px;
}
.requestRecPas .inputS input {
  background-size: 210px 28px;
  color: #F2F2F2;
  width: 210px;
}
.requestRecPas .requestRecPas__text {
  margin-top: 20px;
  color: #F2F2F2;
  font-size: 12px;
}

.recoveryPas {
  position: relative;
  z-index: 100;
  padding-top: 84px;
  width: 582px;
  margin: 0 auto;
  height: 100%;
}
.recoveryPas form {
  width: 370px;
  margin: 0 auto;
}
.recoveryPas .recoveryPas__password, .recoveryPas .recoveryPas__confirmPas {
  margin-bottom: 12px;
}
.recoveryPas .inputS {
  width: 210px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.recoveryPas .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderMedium.svg");
  mask-image: url("../svg/borderMedium.svg");
}
.recoveryPas .inputS p {
  text-align: center;
  width: 210px;
}
.recoveryPas .inputS input {
  background-size: 210px 28px;
  color: #F2F2F2;
  width: 210px;
}

.news {
  width: 582px;
  margin: 0 auto;
  margin-top: 50px;
  z-index: 100;
  position: relative;
}
.news .post {
  width: 100%;
  background: #2f4356b8;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 35px;
  padding: 10px 20px 8px 20px;
}
.news .post .news__post-header {
  font-family: "cyberdyne";
  border-bottom: 1px solid #F2F2F2;
  display: grid;
  grid-template-columns: 375px 165px;
  padding-bottom: 7px;
  margin-bottom: 15px;
}
.news .post .news__post-header .news__post-leftSide, .news .post .news__post-header .news__post-rightSide {
  display: flex;
  flex-direction: row;
}
.news .post .news__post-header .news__post-leftSide {
  font-size: 18px;
  display: flex;
}
.news .post .news__post-header .news__post-leftSide .news__post-author {
  align-self: center;
}
.news .post .news__post-header .news__post-leftSide .avatar1 {
  margin-right: 20px;
  width: 41px;
  height: 48px;
}
.news .post .news__post-header .news__post-leftSide .avatar1 .outline {
  width: 41px;
  height: 48px;
  background: none;
}
.news .post .news__post-header .news__post-leftSide .avatar1 .avatar {
  align-self: auto;
  width: 41px;
  height: 48px;
}
.news .post .news__post-header .news__post-leftSide .avatar1 .avatar .photo {
  width: 41px;
  height: 48px;
  -webkit-mask-size: 40px;
  mask-size: 40px;
}
.news .post .news__post-header .news__post-leftSide .avatar1 .avatar .shield {
  width: 41px;
  height: 48px;
  -webkit-mask-size: 40px;
  mask-size: 40px;
}
.news .post .news__post-header .news__post-leftSide .avatar1 .outlineBorder {
  display: none;
}
.news .post .news__post-header .news__post-rightSide {
  display: flex;
  font-size: 12px;
}
.news .post .news__post-header .news__post-rightSide .news__post-date {
  align-self: center;
  margin-right: 30px;
}
.news .post .news__post-header .news__post-rightSide .news__post-time {
  align-self: center;
}
.news .post .news__post-content .news__post-text {
  margin-bottom: 15px;
  line-height: 120%;
}
.news .post .news__post-content .news__post-photos {
  width: 540px;
  height: 100%;
}
.news .post .news__post-content .news__post-photos .picture {
  max-width: 540px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.news .post .news__post-content .news__post-photos .picture img {
  max-width: 540px;
}
.news .post .news__post-content .news__post-photos .pictures {
  animation: comeIn ease 0.5s;
  animation-iteration-count: 1;
  transition: left 0.3s ease, top 0.3s ease;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.news .post .news__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}
.news .post .news__footer .news__post-likes, .news .post .news__footer .news__post-dislikes, .news .post .news__footer .news__post-comments {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  font-size: 12px;
}
.news .post .news__footer .news__post-likes p, .news .post .news__footer .news__post-dislikes p, .news .post .news__footer .news__post-comments p {
  padding-top: 5px;
  padding-left: 5px;
}
.news .post .news__footer .news__post-comments {
  margin-right: 0;
}
.news .comments {
  background: #11161bb8;
  border: 1px solid #83E4E4;
  border-radius: 15px;
  margin-bottom: 25px;
}
.news .comments .news__moreComments {
  font-size: 12px;
  margin: 15px 40px 15px 40px;
}
.news .comments .comment {
  font-family: "Roboto";
  border-bottom: 1px solid #83E4E4;
  margin: 0 40px 15px 40px;
}
.news .comments .comment .news__comment-content {
  display: grid;
  grid-template-columns: 32px 440px;
  grid-gap: 18px;
}
.news .comments .comment .news__comment-content .news__comment-rightSide .news__comment-nickName {
  font-size: 18px;
  color: #83E4E4;
}
.news .comments .comment .news__comment-content .news__comment-rightSide .news__comment-text {
  font-size: 16px;
}
.news .comments .comment .news__comment-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 15px;
}
.news .comments .comment .news__comment-footer .news__comment-likes, .news .comments .comment .news__comment-footer .news__comment-dislikes {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  font-size: 12px;
}
.news .comments .comment .news__comment-footer .news__comment-likes p, .news .comments .comment .news__comment-footer .news__comment-dislikes p {
  padding-top: 5px;
  padding-left: 5px;
}
.news .comments .news__reply {
  display: grid;
  grid-template-columns: 32px 460px 26px;
  grid-gap: 10px;
  margin: 0 20px 15px 20px;
}
.news .comments .news__reply .avatar2 img {
  width: 32px;
  height: 32px;
}
.news .comments .news__reply .news__reply-input {
  border: 1px solid #83E4E4;
  border-radius: 5px;
  min-height: 40px;
  padding: 6px 10px 2px 10px;
}

.news__portal {
  background: #181e26bf;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  display: flex;
}
.news__portal .news__portal-wrap {
  width: calc(70vw + 120px);
  min-width: 720px;
  max-width: 920px;
  margin: 0 auto;
  align-self: center;
}
.news__portal .news__portal-picture {
  width: 70vw;
  min-width: 600px;
  max-width: 800px;
}
.news__portal .news__portal-prevPicture {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}
.news__portal .news__portal-nextPicture {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

.personalPage {
  padding-top: 20px;
  z-index: 100;
  position: relative;
  margin: 0 auto;
  width: 582px;
}
.personalPage .statics {
  padding: 20px 30px;
  margin-top: 40px;
  background: #2f4356b8;
  border-radius: 20px;
  display: grid;
  grid-gap: 29px;
  grid-template-columns: 157px 157px 157px;
}
.personalPage .statics span {
  font-family: "cyberdyne";
  color: #56CCF2;
}
.personalPage .statics .personalPage__statics-column1 div {
  position: relative;
  margin-bottom: 20px;
}
.personalPage .statics .personalPage__statics-column1 span {
  top: 0px;
  right: 0px;
  position: absolute;
}
.personalPage .statics .personalPage__statics-column2 {
  text-align: center;
}
.personalPage .statics .personalPage__statics-column2 p {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
}
.personalPage .statics .personalPage__statics-column3 div {
  position: relative;
  margin-bottom: 20px;
}
.personalPage .statics .personalPage__statics-column3 span {
  top: 0px;
  right: 0px;
  position: absolute;
}
.personalPage .personalPage__header .inputS {
  width: 160px;
  display: block;
}
.personalPage .personalPage__header .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderMedium.svg");
  mask-image: url("../svg/borderMedium.svg");
}
.personalPage .personalPage__header .inputS p {
  text-align: center;
  width: 160px;
}
.personalPage .personalPage__header .inputS .inputS-shadow {
  width: 160px;
}
.personalPage .personalPage__header .personalPage__header-top {
  display: flex;
  flex-direction: row;
}
.personalPage .personalPage__header .personalPage__header-bottom {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 160px;
}
.personalPage .personalPage__header .personalPage__header-bottom .inputS:nth-child(2) {
  width: 210px;
  display: block;
}
.personalPage .personalPage__header .personalPage__header-bottom .inputS:nth-child(2) p {
  text-align: center;
  width: 210px;
}
.personalPage .personalPage__delimiter {
  background: #11161bb8;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 10px;
  height: 28px;
}
.personalPage .personalPage__history .personalPage__columns {
  font-size: 16px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 81px 39px 52px 81px;
  grid-gap: 90px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.personalPage .personalPage__history .currentDay .currentHistory {
  margin-bottom: 10px;
  position: relative;
}
.personalPage .personalPage__history .currentDay .currentHistory .personalPage__currentHistory-wrap {
  display: grid;
  grid-template-columns: 90px 55px 90px 70px;
  grid-gap: 70px;
  padding-left: 35px;
  height: 40px;
  align-items: center;
  position: relative;
  z-index: 100;
}
.personalPage .personalPage__history .currentDay .currentHistory .avatar2 img {
  height: 28px;
  width: 28px;
}
.personalPage .personalPage__history .currentDay .currentHistory .personalPage__history-team1 {
  display: flex;
  flex-direction: row;
}
.personalPage .personalPage__history .currentDay .currentHistory .personalPage__history-team2 {
  display: flex;
  flex-direction: row;
}
.personalPage .personalPage__history .currentDay .currentHistory-background {
  z-index: 1;
  background: rgba(89, 167, 234, 0.46);
  -webkit-mask-image: url("../svg/borderLargeBackground.svg");
  mask-image: url("../svg/borderLargeBackground.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  cursor: pointer;
  height: 40px;
  position: absolute;
  top: 0;
  width: 582px;
}
.personalPage .personalPage__graphic {
  margin-top: 50px;
}
.personalPage .personalPage__graphic .highcharts-axis-labels text, .personalPage .personalPage__graphic .highcharts-legend text {
  fill: #FFFFFF !important;
}
.personalPage .personalPage__graphic .highcharts-background {
  fill: none;
}
.personalPage .personalPage__graphic .personalPage__chooseInterval {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px;
  grid-gap: 10px;
  width: 400px;
  margin: 0 auto;
}
.personalPage .personalPage__graphic .personalPage__chooseInterval .inputS {
  min-width: 80px;
  width: 90px;
  display: block;
}
.personalPage .personalPage__graphic .personalPage__chooseInterval .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderShort.svg");
  mask-image: url("../svg/borderShort.svg");
}
.personalPage .personalPage__graphic .personalPage__chooseInterval p {
  text-align: center;
  width: 90px;
}
.personalPage .personalPage__graphic .personalPage__chooseInterval .inputS-shadow {
  width: 90px;
}
.personalPage .personalPage__profit .personalPage__columns {
  font-size: 16px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 81px 81px 81px 52px 72px;
  grid-gap: 40px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.personalPage .personalPage__profit .personalPage__columns .personalPage__colums-column1 {
  min-width: 81px;
}
.personalPage .personalPage__profit .personalPage__columns .personalPage__colums-column2 {
  min-width: 81px;
}
.personalPage .personalPage__profit .personalPage__columns .personalPage__colums-column3 {
  min-width: 81px;
}
.personalPage .personalPage__profit .personalPage__columns .personalPage__colums-column4 {
  min-width: 52px;
}
.personalPage .personalPage__profit .personalPage__columns .personalPage__colums-column5 {
  min-width: 72px;
}
.personalPage .personalPage__profit .currentDay .currentProfit {
  margin-bottom: 10px;
  position: relative;
}
.personalPage .personalPage__profit .currentDay .currentProfit .personalPage__currentProfit-wrap {
  display: grid;
  grid-template-columns: 96px 89px 72px 86px 48px;
  grid-gap: 30px;
  padding-left: 35px;
  height: 40px;
  align-items: center;
  position: relative;
}
.personalPage .personalPage__profit .currentDay .currentProfit .personalPage__currentProfit-wrap .personalPage__profit-profit {
  text-align: center;
}
.personalPage .personalPage__profit .currentDay .currentProfit .avatar2 img {
  height: 28px;
  width: 28px;
}
.personalPage .personalPage__profit .currentDay .currentProfit .personalPage__profit-team1 {
  display: flex;
  flex-direction: row;
}
.personalPage .personalPage__profit .currentDay .currentProfit .personalPage__profit-team2 {
  display: flex;
  flex-direction: row;
}
.personalPage .personalPage__profit .currentDay .currentProfit .currentProfit-outline {
  -webkit-mask-image: url("../svg/borderLarge.svg");
  mask-image: url("../svg/borderLarge.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  height: 40px;
  position: absolute;
  top: 0;
  width: 582px;
}
.personalPage .addPaymentCard {
  margin-top: 50px;
}
.personalPage .addPaymentCard .textIF {
  margin-bottom: 20px;
}
.personalPage .addPaymentCard .inputS {
  margin: 0 auto;
  width: 160px;
}
.personalPage .addPaymentCard .inputS p {
  text-align: center;
}

.detailedInf {
  width: 524px;
  margin: 0 auto;
  padding-top: 5px;
}
.detailedInf .detailedInf-user {
  display: grid;
  grid-template-columns: 32px 135px 145px 145px;
  grid-gap: 15px;
  padding: 0 20px;
  margin-bottom: 3px;
}
.detailedInf .detailedInf-user .detailedInf-nickName {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.detailedInf .detailedInf-user .detailedInf-kills, .detailedInf .detailedInf-user .detailedInf-deaths {
  display: flex;
  flex-direction: row;
}
.detailedInf .detailedInf-user .detailedInf-kills .detailedInf-title, .detailedInf .detailedInf-user .detailedInf-deaths .detailedInf-title {
  margin-right: 20px;
}
.detailedInf .detailedInf-user .detailedInf-kills .detailedInf-score, .detailedInf .detailedInf-user .detailedInf-deaths .detailedInf-score {
  font-family: "Cyberdyne";
  color: #83E4E4;
  line-height: 30px;
}
.detailedInf .detailedInf-winner .detailedInf-user {
  background: #ffd07459;
}
.detailedInf .detailedInf-result {
  background: #11161bb8;
  text-align: center;
  font-family: "Cyberdyne";
}
.detailedInf .detailedInf-loser .detailedInf-user {
  background: #eb575759;
}

.modeSelection {
  padding-top: 20px;
  z-index: 100;
  position: relative;
  margin: 0 auto;
  width: 582px;
}
.modeSelection .modeSelection__content .modeSelection-title {
  font-family: "Roboto Mono";
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
}
.modeSelection .modeSelection__content .modeSelection__mode, .modeSelection .modeSelection__content .modeSelection__prize, .modeSelection .modeSelection__content .modeSelection__rules {
  text-align: center;
  margin-bottom: 20px;
}
.modeSelection .modeSelection__content .modeSelection__mode .inputS {
  width: 160px;
}
.modeSelection .modeSelection__content .modeSelection__mode .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderMedium.svg");
  mask-image: url("../svg/borderMedium.svg");
}
.modeSelection .modeSelection__content .modeSelection__mode .inputS p {
  color: white !important;
  font-family: "cyberdyne";
}
.modeSelection .modeSelection__content .modeSelection__mode .btn-group_modeSelection {
  width: 350px;
  margin: 0 auto;
}
.modeSelection .modeSelection__content .modeSelection__prize .btn-group_modeSelection1, .modeSelection .modeSelection__content .modeSelection__prize .btn-group_modeSelection2 {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
  justify-content: space-around;
}
.modeSelection .modeSelection__content .modeSelection__prize .btn-group_modeSelection1 .inputS .inputS-outline, .modeSelection .modeSelection__content .modeSelection__prize .btn-group_modeSelection2 .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderSmall.svg");
  mask-image: url("../svg/borderSmall.svg");
}
.modeSelection .modeSelection__content .modeSelection__prize .btn-group_modeSelection1 .inputS p, .modeSelection .modeSelection__content .modeSelection__prize .btn-group_modeSelection2 .inputS p {
  color: white !important;
  font-family: "cyberdyne";
}
.modeSelection .modeSelection__content .modeSelection__prize .btn-group_modeSelection2 {
  width: 390px;
}
.modeSelection .modeSelection__content .modeSelection__prize .modeSelection__prize__inputS {
  width: 120px;
}
.modeSelection .modeSelection__content .modeSelection__rules {
  position: relative;
}
.modeSelection .modeSelection__content .modeSelection__rules .modeSelection__rule {
  position: relative;
}
.modeSelection .modeSelection__content .modeSelection__rules .modeSelection__rule .modeSelection-image {
  position: absolute;
  top: 20px;
  left: 49px;
}
.modeSelection .modeSelection__content .modeSelection__rules .modeSelection__rules-content {
  margin-top: 10px;
  display: grid;
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}
.modeSelection .modeSelection__content .modeSelection__rules .modeSelection__rules-content .modeSelection__rule1 .modeSelection-outline {
  background: #EB5757;
  height: 97px;
  width: 110px;
  margin: 0 auto;
  -webkit-mask-image: url("../svg/treangleBotOutline.svg");
  mask-image: url("../svg/treangleBotOutline.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.modeSelection .modeSelection__content .modeSelection__rules .modeSelection__rules-content .modeSelection__rule1 .modeSelection-background {
  height: 97px;
  width: 110px;
  position: absolute;
  top: 0px;
  left: calc(50% - 55px);
  background: #11161bb8;
  -webkit-mask-image: url("../svg/treangleBotBackground.svg");
  mask-image: url("../svg/treangleBotBackground.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.modeSelection .modeSelection__content .modeSelection__rules .modeSelection__rules-content .modeSelection__rule2 .modeSelection-image {
  top: 45px;
}
.modeSelection .modeSelection__content .modeSelection__rules .modeSelection__rules-content .modeSelection__rule2 .modeSelection-outline {
  background: #83E4E4;
  height: 97px;
  width: 110px;
  margin: 0 auto;
  -webkit-mask-image: url("../svg/treangleTopOutline.svg");
  mask-image: url("../svg/treangleTopOutline.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.modeSelection .modeSelection__content .modeSelection__rules .modeSelection__rules-content .modeSelection__rule2 .modeSelection-background {
  height: 97px;
  width: 110px;
  position: absolute;
  top: 0px;
  left: calc(50% - 55px);
  background: #11161bb8;
  -webkit-mask-image: url("../svg/treangleTopBackground.svg");
  mask-image: url("../svg/treangleTopBackground.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.modeSelection .modeSelection__content .modeSelection__rules .modeSelection__rules-content .modeSelection__rule3 .modeSelection-outline {
  background: #83E4E4;
  height: 97px;
  width: 110px;
  margin: 0 auto;
  -webkit-mask-image: url("../svg/treangleBotOutline.svg");
  mask-image: url("../svg/treangleBotOutline.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.modeSelection .modeSelection__content .modeSelection__rules .modeSelection__rules-content .modeSelection__rule3 .modeSelection-background {
  height: 97px;
  width: 110px;
  position: absolute;
  top: 0px;
  left: calc(50% - 55px);
  background: #11161bb8;
  -webkit-mask-image: url("../svg/treangleBotBackground.svg");
  mask-image: url("../svg/treangleBotBackground.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.modeSelection .modeSelection__content .inputS {
  width: 90px;
  margin: 0 auto;
}
.modeSelection .modeSelection__content .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderSmall.svg");
  mask-image: url("../svg/borderSmall.svg");
}
.modeSelection .modeSelection__content .inputS p {
  text-align: center;
  width: 100%;
}

.hallOfFame {
  padding-top: 20px;
  z-index: 100;
  position: relative;
  margin: 0 auto;
  width: 582px;
}
.hallOfFame .hallOfFame__header {
  height: 250px;
  display: grid;
  grid-template-columns: 60% 30%;
  grid-gap: 10%;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .hallOfFame__leaders-title {
  text-align: center;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders {
  width: 100%;
  height: 75%;
  position: relative;
  top: 40px;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader {
  width: 75px;
  height: 90px;
  left: calc(50% - 75px/2);
  position: absolute;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader .leader__nickname {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader .avatar1 {
  margin-right: 20px;
  width: 75px;
  height: 70px;
  margin: 0;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader .avatar1 .outlineBorder, .hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader .avatar1 .shield {
  background: #ababab;
  background: linear-gradient(0deg, #ababab 0%, white 75%);
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader .avatar1 .outline, .hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader .avatar1 .outlineBorder {
  -webkit-mask-size: 75px;
  width: 75px;
  height: 70px;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader .avatar1 .avatar {
  align-self: auto;
  width: 43px;
  height: 51px;
  margin-top: 14px;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader .avatar1 .avatar .photo {
  width: 43px;
  height: 51px;
  -webkit-mask-size: 41px;
  mask-size: 42px;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader .avatar1 .avatar .shield {
  width: 43px;
  height: 51px;
  -webkit-mask-size: 41px;
  mask-size: 42px;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader1 .outline {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #0E1272;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader1 .outlineBorder, .hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader1 .shield {
  background: #003dff !important;
  background: linear-gradient(0deg, #003dff 0%, #fefefe 75%) !important;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader2 {
  top: 100px;
  left: 35px;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader2 .outline {
  background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader3 {
  top: 100px;
  left: 240px;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .leaders .leader3 .outline {
  background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .hallOfFame__leaders-outline1 {
  width: 159px;
  height: 159px;
  position: absolute;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .hallOfFame__leaders-outline1 .hallOfFame__largeWing {
  position: absolute;
  background: #83E4E4;
  height: 159px;
  width: 159px;
  -webkit-mask-image: url("../svg/largeWingMini.svg");
  mask-image: url("../svg/largeWingMini.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .hallOfFame__leaders-outline1 .hallOfFame__mediumWing {
  top: 40px;
  left: 2px;
  position: absolute;
  background: #83E4E4;
  height: 61px;
  width: 83px;
  -webkit-mask-image: url("../svg/mediumWingMini.svg");
  mask-image: url("../svg/largeWingMini.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .hallOfFame__leaders-outline1 .hallOfFame__smallWing {
  top: 87px;
  left: 30px;
  position: absolute;
  background: #83E4E4;
  height: 36px;
  width: 58px;
  -webkit-mask-image: url("../svg/smallWingMini.svg");
  mask-image: url("../svg/largeWingMini.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .hallOfFame__leaders-outline2 {
  transform: rotateY(180deg);
  left: 450px;
  width: 159px;
  height: 159px;
  float: right;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .hallOfFame__leaders-outline2 .hallOfFame__largeWing {
  position: absolute;
  background: #83E4E4;
  height: 159px;
  width: 159px;
  -webkit-mask-image: url("../svg/largeWingMini.svg");
  mask-image: url("../svg/largeWingMini.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .hallOfFame__leaders-outline2 .hallOfFame__mediumWing {
  top: 40px;
  left: 2px;
  position: absolute;
  background: #83E4E4;
  height: 61px;
  width: 83px;
  -webkit-mask-image: url("../svg/mediumWingMini.svg");
  mask-image: url("../svg/largeWingMini.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.hallOfFame .hallOfFame__header .hallOfFame__leaders .hallOfFame__leaders-outline2 .hallOfFame__smallWing {
  top: 87px;
  left: 30px;
  position: absolute;
  background: #83E4E4;
  height: 36px;
  width: 58px;
  -webkit-mask-image: url("../svg/smallWingMini.svg");
  mask-image: url("../svg/largeWingMini.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.hallOfFame .hallOfFame__header .hallOfFame__information {
  border: 1px solid #FFD074;
  border-radius: 15px;
}
.hallOfFame .hallOfFame__header .hallOfFame__information .hallOfFame__information-data {
  font-size: 12px;
  margin-left: 10px;
}
.hallOfFame .hallOfFame__header .hallOfFame__information .hallOfFame__information-data div {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 50% 45%;
  grid-gap: 5%;
}
.hallOfFame .hallOfFame__header .hallOfFame__information .hallOfFame__information-data div p {
  font-family: "Roboto Mono";
  margin-right: 10px;
  font-size: 13px;
}
.hallOfFame .hallOfFame__header .hallOfFame__information .hallOfFame__information-data div label {
  font-family: "cyberdyne";
  color: #83E4E4;
  font-size: 13px;
}
.hallOfFame .hallOfFame__header .hallOfFame__information .avatar1 {
  margin: 10px auto;
  height: 60px;
  width: 50px;
}
.hallOfFame .hallOfFame__header .hallOfFame__information .avatar1 .avatar {
  height: 60px;
  width: 50px;
}
.hallOfFame .hallOfFame__header .hallOfFame__information .avatar1 .photo {
  -webkit-mask-size: 50px;
  height: 60px;
  width: 50px;
}
.hallOfFame .hallOfFame__header .hallOfFame__information .avatar1 .shield {
  -webkit-mask-size: 50px;
  height: 60px;
  width: 50px;
}
.hallOfFame .hallOfFame__header .hallOfFame__information .avatar1 .outline {
  background: none;
  height: 60px;
  width: 50px;
}
.hallOfFame .hallOfFame__header .hallOfFame__information .avatar1 .outlineBorder {
  background: none;
  display: none;
}
.hallOfFame .hallOfFame__list {
  margin-top: 30px;
}
.hallOfFame .hallOfFame__list .hallOfFame__list-header {
  display: grid;
  grid-template-columns: 55px 50px 65px 75px;
  grid-gap: 50px;
  background: #11161bb8;
  padding-left: 150px;
  font-size: 12px;
  height: 50px;
  padding-top: 5px;
}
.hallOfFame .hallOfFame__list .hallOfFame__list-element {
  display: grid;
  grid-template-columns: 30px 99px 95px 90px 105px 113px;
  grid-gap: 10px;
  height: 105px;
}
.hallOfFame .hallOfFame__list .hallOfFame__list-element .hallOfFame__position {
  width: 30px;
  padding-top: 30px;
  font-size: 24px;
  font-family: "cyberdyne 3D";
  color: #FFD074;
  text-align: center;
}
.hallOfFame .hallOfFame__list .hallOfFame__list-element .hallOfFame__raiting, .hallOfFame .hallOfFame__list .hallOfFame__list-element .hallOfFame__winRate,
.hallOfFame .hallOfFame__list .hallOfFame__list-element .hallOfFame__matchesPlayed, .hallOfFame .hallOfFame__list .hallOfFame__list-element .hallOfFame__matchesWon {
  padding-top: 30px;
  font-family: "cyberdyne";
  font-size: 18px;
  color: #83E4E4;
}
.hallOfFame .hallOfFame__list .hallOfFame__list-element .hallOfFame__leader {
  padding-top: 10px;
}
.hallOfFame .hallOfFame__list .hallOfFame__list-element .hallOfFame__leader .avatar1 {
  width: 75px;
  height: 70px;
  margin: 0 auto;
}
.hallOfFame .hallOfFame__list .hallOfFame__list-element .hallOfFame__leader .avatar1 .outline {
  -webkit-mask-size: 75px;
  width: 75px;
  height: 70px;
  background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;
}
.hallOfFame .hallOfFame__list .hallOfFame__list-element .hallOfFame__leader .avatar1 .outline .avatar {
  margin: 0 auto;
  width: 43px;
  height: 51px;
  margin-top: 14px;
}
.hallOfFame .hallOfFame__list .hallOfFame__list-element .hallOfFame__leader .avatar1 .outline .avatar .photo {
  width: 43px;
  height: 51px;
  -webkit-mask-size: 41px;
}
.hallOfFame .hallOfFame__list .hallOfFame__list-element .hallOfFame__leader .avatar1 .outline .avatar .shield {
  width: 43px;
  height: 51px;
  -webkit-mask-size: 41px;
}
.hallOfFame .hallOfFame__list .hallOfFame__list-element .hallOfFame__leader .avatar1 .outlineBorder {
  -webkit-mask-size: 75px;
  width: 75px;
  height: 70px;
  background: #ababab;
  background: linear-gradient(0deg, #ababab 0%, white 75%);
}
.hallOfFame .hallOfFame__list .hallOfFame__list-element .hallOfFame__leader .leader__nickname {
  font-size: 12px;
  text-align: center;
}
.hallOfFame .hallOfFame__list .hallOfFame__list-type0 {
  background: #11161b61;
}

.arena {
  padding-top: 20px;
  z-index: 100;
  position: relative;
  margin: 0 auto;
  width: 582px;
}
.arena .arena__leaders {
  position: relative;
  height: 300px;
  width: calc(390px + 390px + 60px);
  left: calc(50% - (390px + 390px + 60px)/2);
}
.arena .arena__leaders .arena__leaders-outline1 {
  width: 390px;
  height: 198px;
  position: absolute;
}
.arena .arena__leaders .arena__leaders-outline1 .arena__largeWing {
  position: absolute;
  background: #83E4E4;
  height: 198px;
  width: 390px;
  -webkit-mask-image: url("../svg/largeWing.svg");
  mask-image: url("../svg/largeWing.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.arena .arena__leaders .arena__leaders-outline1 .arena__mediumWing {
  top: 52px;
  left: 37px;
  position: absolute;
  background: #83E4E4;
  height: 72px;
  width: 202px;
  -webkit-mask-image: url("../svg/mediumWing.svg");
  mask-image: url("../svg/largeWing.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.arena .arena__leaders .arena__leaders-outline1 .arena__smallWing {
  top: 95px;
  left: 95px;
  position: absolute;
  background: #83E4E4;
  height: 44px;
  width: 142px;
  -webkit-mask-image: url("../svg/smallWing.svg");
  mask-image: url("../svg/largeWing.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.arena .arena__leaders .arena__leaders-outline2 {
  transform: rotateY(180deg);
  height: 198px;
  width: 390px;
  position: absolute;
  left: 450px;
}
.arena .arena__leaders .arena__leaders-outline2 .arena__largeWing {
  position: absolute;
  background: #83E4E4;
  height: 198px;
  width: 390px;
  -webkit-mask-image: url("../svg/largeWing.svg");
  mask-image: url("../svg/largeWing.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.arena .arena__leaders .arena__leaders-outline2 .arena__mediumWing {
  top: 52px;
  left: 37px;
  position: absolute;
  background: #83E4E4;
  height: 72px;
  width: 202px;
  -webkit-mask-image: url("../svg/mediumWing.svg");
  mask-image: url("../svg/largeWing.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.arena .arena__leaders .arena__leaders-outline2 .arena__smallWing {
  top: 95px;
  left: 95px;
  position: absolute;
  background: #83E4E4;
  height: 44px;
  width: 142px;
  -webkit-mask-image: url("../svg/smallWing.svg");
  mask-image: url("../svg/largeWing.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.arena .arena__leaders .leaders {
  height: 300px;
  position: relative;
  top: -25px;
}
.arena .arena__leaders .leaders .leader {
  width: 75px;
  height: 90px;
  left: calc(50% - 75px/2);
  position: absolute;
  top: 33px;
}
.arena .arena__leaders .leaders .leader .leader__nickname {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
}
.arena .arena__leaders .leaders .leader .avatar1 {
  margin-right: 20px;
  width: 75px;
  height: 70px;
  margin: 0;
}
.arena .arena__leaders .leaders .leader .avatar1 .outlineBorder, .arena .arena__leaders .leaders .leader .avatar1 .shield {
  background: #ababab;
  background: linear-gradient(0deg, #ababab 0%, white 75%);
}
.arena .arena__leaders .leaders .leader .avatar1 .outline, .arena .arena__leaders .leaders .leader .avatar1 .outlineBorder {
  -webkit-mask-size: 75px;
  width: 75px;
  height: 70px;
}
.arena .arena__leaders .leaders .leader .avatar1 .avatar {
  align-self: auto;
  width: 43px;
  height: 51px;
  margin-top: 14px;
}
.arena .arena__leaders .leaders .leader .avatar1 .avatar .photo {
  width: 43px;
  height: 51px;
  -webkit-mask-size: 41px;
  mask-size: 42px;
}
.arena .arena__leaders .leaders .leader .avatar1 .avatar .shield {
  width: 43px;
  height: 51px;
  -webkit-mask-size: 41px;
  mask-size: 42px;
}
.arena .arena__leaders .leaders .leader1 .outline {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #0E1272;
}
.arena .arena__leaders .leaders .leader1 .outlineBorder, .arena .arena__leaders .leaders .leader1 .shield {
  background: #003dff !important;
  background: linear-gradient(0deg, #003dff 0%, #fefefe 75%) !important;
}
.arena .arena__leaders .leaders .leader2 {
  top: 65px;
  left: calc(50% - 75px/2 - 100px);
}
.arena .arena__leaders .leaders .leader2 .outline {
  background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;
}
.arena .arena__leaders .leaders .leader3 {
  top: 65px;
  left: calc(50% - 75px/2 + 100px);
}
.arena .arena__leaders .leaders .leader3 .outline {
  background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;
}
.arena .arena__leaders .leaders .leader4 {
  top: 155px;
  left: 110px;
}
.arena .arena__leaders .leaders .leader4 .outline {
  background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;
}
.arena .arena__leaders .leaders .leader5 {
  top: 175px;
  left: 205px;
}
.arena .arena__leaders .leaders .leader5 .outline {
  background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;
}
.arena .arena__leaders .leaders .leader6 {
  top: 200px;
  left: 295px;
}
.arena .arena__leaders .leaders .leader6 .outline {
  background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;
}
.arena .arena__leaders .leaders .leader7 {
  top: 155px;
  right: 110px;
  left: auto;
}
.arena .arena__leaders .leaders .leader7 .outline {
  background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;
}
.arena .arena__leaders .leaders .leader8 {
  top: 175px;
  right: 205px;
  left: auto;
}
.arena .arena__leaders .leaders .leader8 .outline {
  background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;
}
.arena .arena__leaders .leaders .leader9 {
  top: 200px;
  right: 295px;
  left: auto;
}
.arena .arena__leaders .leaders .leader9 .outline {
  background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;
}
.arena .arena__header {
  font-family: "Roboto Mono";
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}
.arena .arena__content {
  border: 1px solid #83E4E4;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 150px calc(100% - 300px) 150px;
  padding: 20px 0;
}
.arena .arena__content .avatar1 {
  height: 85px;
  width: 70px !important;
  margin: 0 auto;
}
.arena .arena__content .avatar1 .avatar, .arena .arena__content .avatar1 .photo, .arena .arena__content .avatar1 .shield, .arena .arena__content .avatar1 .outline {
  height: 85px;
  width: 70px;
}
.arena .arena__content .avatar1 .outline {
  background: none;
}
.arena .arena__content .avatar1 .outlineBorder {
  display: none;
}
.arena .arena__content .arena__player1, .arena .arena__content .arena__player2 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.arena .arena__content .arena__player1 .inputS, .arena .arena__content .arena__player2 .inputS {
  width: 90px;
  margin: 0 auto;
  margin-top: 10px;
}
.arena .arena__content .arena__player1 .inputS .inputS-outline, .arena .arena__content .arena__player2 .inputS .inputS-outline {
  -webkit-mask-image: url("../svg/borderShort.svg");
  mask-image: url("../svg/borderShort.svg");
}
.arena .arena__content .arena__player1 .inputS p, .arena .arena__content .arena__player2 .inputS p {
  font-weight: normal;
  text-align: center;
  width: 100%;
  color: white !important;
}
.arena .arena__content .arena__ticker {
  text-align: center;
}
.arena .arena__content .arena__ticker .arena__title {
  font-size: 18px;
}
.arena .arena__content .arena__ticker .arena__ticker {
  font-family: "cyberdyne outline";
  font-size: 36px;
  color: #FFD074;
  line-height: 25px;
  height: 25px;
}
.arena .arena__content .arena__ticker .arena__bet {
  font-family: "cyberdyne condensed";
  font-size: 36px;
  color: #EB5757;
}

.options {
  padding-top: 20px;
  z-index: 100;
  position: relative;
  margin: 0 auto;
  width: 582px;
  display: grid;
  grid-template-columns: 70px calc(100% - 70px - 80px);
  grid-gap: 80px;
}
.options .options__avatar {
  height: 85px;
  position: relative;
}
.options .options__avatar .avatar1 {
  width: 70px;
  height: 85px;
}
.options .options__avatar .avatar1 .outline {
  background: none;
  width: 70px;
  height: 85px;
}
.options .options__avatar .avatar1 .outline .avatar, .options .options__avatar .avatar1 .outline .photo, .options .options__avatar .avatar1 .outline .shield {
  width: 70px;
  height: 85px;
}
.options .options__avatar .avatar1 .outlineBorder {
  display: none;
}
.options .options__avatar .options__changeAvatar {
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 17px);
  cursor: pointer;
}
.options .options__data .options__sex {
  cursor: pointer;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 385px;
  margin-bottom: 20px;
}
.options .options__data .options__sex .options_title {
  font-weight: bold;
  font-size: 16px;
}
.options .options__data .options__sex p {
  color: #F2F2F2;
  font-size: 12px;
}
.options .options__data .options__sex .options__radioB {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 15px;
  padding-top: 5px;
}
.options .options__data .options__sex .options__radioB .radioB {
  display: flex;
  flex-direction: columns;
}
.options .options__data .options__sex .options__radioB p {
  display: inline;
  margin-right: 7px;
}
.options .options__data .options__sex .options__radioB img {
  width: 18px;
  height: 18px;
  margin-left: 1px;
  margin-bottom: 8px;
  transform: rotate(45deg);
}
.options .options__data .options__sex .options__radioB .options__outline {
  border-radius: 2px;
  border: 1px solid #83E4E4;
  margin-top: -2px;
  width: 22px;
  height: 22px;
}
.options .options__data .phone_options, .options .options__data .email_options {
  margin-bottom: 25px;
}

.right {
  position: relative;
  width: 200px;
  height: 100%;
  overflow: hidden;
}
.right .rightBar:hover {
  margin-left: 0px;
  transition: 0.5s ease-in-out;
}
.right .rightBar {
  width: 200px;
  height: 494px;
  margin-left: 0px;
  margin-top: 100px;
  transition: 0.5s ease-in-out;
  position: fixed;
}
.right .rightBar .header, .right .rightBar .content, .right .rightBar .footer {
  width: 100%;
  height: 100%;
}
.right .rightBar .header {
  position: absolute;
  top: 0;
}
.right .rightBar .header .header-buttons {
  display: grid;
  grid-template-columns: 36px 36px 36px 36px;
  grid-gap: 5px;
  margin-left: 25px;
  margin-top: 15px;
}
.right .rightBar .header .header-buttons .openChat {
  width: 30px;
  height: 30px;
}
.right .rightBar .header .header-buttons .openChat .inputS {
  height: 100%;
  width: 100%;
}
.right .rightBar .header .header-buttons .openChat .inputS .inputS-outline {
  position: absolute;
  background: #83e4e4;
  top: 1px;
  left: -3px;
  width: 36px;
  height: 30px;
  -webkit-mask-image: url("../svg/borderVerySmall.svg");
  mask-image: url("../svg/borderVerySmall.svg");
}
.right .rightBar .header .header-buttons .openChat .inputS .inputS_imgRight {
  height: 100%;
  width: 100%;
}
.right .rightBar .header .header-buttons .openChat .inputS .inputS_imgRight .image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 2px;
  -webkit-mask-size: 19px;
  -webkit-mask-image: url("../svg/chat.svg");
  mask-image: url("../svg/chat.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.right .rightBar .header .header-buttons .challenge {
  width: 30px;
  height: 30px;
}
.right .rightBar .header .header-buttons .challenge .inputS {
  width: 100%;
  height: 100%;
}
.right .rightBar .header .header-buttons .challenge .inputS .inputS-outline {
  position: absolute;
  background: #83e4e4;
  top: 1px;
  left: -3px;
  width: 36px;
  height: 30px;
  -webkit-mask-image: url("../svg/borderVerySmall.svg");
  mask-image: url("../svg/borderVerySmall.svg");
}
.right .rightBar .header .header-buttons .challenge .inputS .inputS_imgRight {
  width: 100%;
  height: 100%;
}
.right .rightBar .header .header-buttons .challenge .inputS .inputS_imgRight .image {
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-mask-size: 20px;
  -webkit-mask-image: url("../svg/challenge.svg");
  mask-image: url("../svg/challenge.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.right .rightBar .header .header-buttons .newFriend {
  width: 30px;
  height: 30px;
}
.right .rightBar .header .header-buttons .newFriend .inputS {
  width: 100%;
  height: 100%;
}
.right .rightBar .header .header-buttons .newFriend .inputS .inputS-outline {
  position: absolute;
  background: #83e4e4;
  top: 1px;
  left: -3px;
  width: 36px;
  height: 30px;
  -webkit-mask-image: url("../svg/borderVerySmall.svg");
  mask-image: url("../svg/borderVerySmall.svg");
}
.right .rightBar .header .header-buttons .newFriend .inputS .inputS_imgRight {
  width: 100%;
  height: 100%;
}
.right .rightBar .header .header-buttons .newFriend .inputS .inputS_imgRight .image {
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-mask-size: 20px;
  -webkit-mask-image: url("../svg/newFriend.svg");
  mask-image: url("../svg/newFriend.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.right .rightBar .header .header-buttons .newGroup {
  width: 30px;
  height: 30px;
}
.right .rightBar .header .header-buttons .newGroup .inputS {
  width: 100%;
  height: 100%;
}
.right .rightBar .header .header-buttons .newGroup .inputS .inputS-outline {
  position: absolute;
  background: #83e4e4;
  top: 1px;
  left: -3px;
  width: 36px;
  height: 30px;
  -webkit-mask-image: url("../svg/borderVerySmall.svg");
  mask-image: url("../svg/borderVerySmall.svg");
}
.right .rightBar .header .header-buttons .newGroup .inputS .inputS_imgRight {
  width: 100%;
  height: 100%;
}
.right .rightBar .header .header-buttons .newGroup .inputS .inputS_imgRight .image {
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-mask-size: 20px;
  -webkit-mask-image: url("../svg/newGroup.svg");
  mask-image: url("../svg/newGroup.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.right .rightBar .header .header-search {
  width: 180px;
  margin-top: 45px;
  margin-left: 10px;
  border-bottom: 1px solid #83E4E4;
}
.right .rightBar .header .header-search .search-image:hover {
  background: #FFD074;
}
.right .rightBar .header .header-search .search-image {
  position: absolute;
  height: 20px;
  width: 20px;
  background: #83E4E4;
  -webkit-mask-image: url("../svg/search.svg");
  mask-image: url("../svg/search.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  cursor: pointer;
}
.right .rightBar .header .header-search .textIF {
  width: 150px;
  margin-left: 30px;
}
.right .rightBar .header .header-search .textIF input {
  background: #11161b61;
  width: 100%;
  padding: 0;
  font-size: 12px;
  border: none;
  outline: none;
}
.right .rightBar .content {
  position: absolute;
  top: 150px;
  height: 295px;
}
.right .rightBar .content img {
  width: 180px;
  height: 180px;
  position: absolute;
  left: calc(50% - 90px);
}
.right .rightBar .rightBar-outline {
  width: 200px;
  height: 494px;
  background: #83E4E4;
  -webkit-mask-image: url("../svg/rightBarOutline.svg");
  mask-image: url("../svg/rightBarOutline.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.right .rightBar .rightBar-background {
  position: absolute;
  top: 0px;
  margin-left: 2px;
  width: 200px;
  height: 494px;
  background: #11161bb8;
  -webkit-mask-image: url("../svg/rightBarBackground.svg");
  mask-image: url("../svg/rightBarBackground.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}

.modalForm {
  width: 250px !important;
  height: 300px !important;
  background: #11161bb8;
  border: 1px solid #83E4E4;
  border-radius: 16px;
  position: fixed;
  z-index: 200;
}
.modalForm .flexible-modal-drag-area {
  height: 50px;
  width: 250px !important;
  position: absolute;
  right: 0;
  top: 0;
  cursor: move;
}
.modalForm .flexible-modal-drag-area-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px !important;
  width: 15px;
  cursor: move;
}
.modalForm .flexible-modal-drag-area-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 300px !important;
  width: 15px;
  cursor: move;
}
.modalForm .flexible-modal-drag-area-bottom {
  position: absolute;
  bottom: 0;
  height: 15px;
  width: 250px;
  cursor: move;
}
.modalForm .flexible-modal-resizer {
  display: none;
}
.modalForm .header {
  height: 35px;
  margin: 7px 15px;
  border-bottom: 1px solid #83E4E4;
  width: 220px;
  display: flex;
  justify-content: flex-end;
}
.modalForm .header .title {
  margin: 0 auto;
}
.modalForm .header img {
  height: 18px;
  position: absolute;
  top: 5px;
  right: 10px;
}
.modalForm .content .dialogs {
  list-style: none;
  width: 220px;
  padding: 5px 15px;
}
.modalForm .content .dialogs .dialog {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.modalForm .content .dialogs .dialog .data {
  width: calc(100% - 20px);
}
.modalForm .content .dialogs .dialog .data p {
  width: calc(100% - 70px);
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.modalForm .content .dialogs .dialog .data .nickName {
  width: calc(100% - 20px);
  font-size: 13px;
}
.modalForm .content .dialogs .dialog .avatar {
  margin-right: 10px;
}
.modalForm .content .dialogs .dialog .avatar img {
  border-radius: 15px;
  height: 30px;
  width: 30px;
}
.modalForm .content .dialogs .dialog .chat {
  width: 250px !important;
  height: 300px !important;
  position: absolute;
  border: 1px solid #83E4E4;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  background: #11161bb8;
  top: 100px;
  left: 200px;
  z-index: 300;
}
.modalForm .content .dialogs .dialog .chat .chat__content {
  padding: 5px 15px;
}
.modalForm .content .dialogs .dialog .chat .chat__header {
  height: 35px;
  margin: 7px 15px;
  border-bottom: 1px solid #83E4E4;
  width: 220px;
}
.modalForm .content .dialogs .dialog .chat .chat__header button {
  position: relative;
  z-index: 200;
}
.modalForm .content .dialogs .dialog .chat .chat__footer {
  position: absolute;
  bottom: 0px;
  width: 250px;
  height: 30px;
}
.modalForm .content .dialogs .dialog .chat .chat__footer form {
  margin: 0;
  display: flex;
  flex-direction: row;
}
.modalForm .content .dialogs .dialog .chat .chat__footer .textIF input {
  width: 220px;
  height: 30px;
}
.modalForm .content .dialogs .dialog .chat .flexible-modal-drag-area-bottom, .modalForm .content .dialogs .dialog .chat .flexible-modal-drag-area-right, .modalForm .content .dialogs .dialog .chat .flexible-modal-drag-area-left {
  display: none;
}
