@import '~antd/dist/antd.css';
@import './cyberdyne.css';
@keyframes comeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  75% {
    transform: scale(1.03);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
body, html, #root, .App {
  height: 100%;
  width: 100%;
  background: url("../images/background.jpg");
  background-size: 100%;
}

h1 {
  color: #F2F2F2;
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
}

p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

div {
  word-wrap: break-word;
}

body {
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #F2F2F2;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.background_g1, .background_g2 {
  z-index: 1;
  opacity: 5%;
  position: fixed;
  top: calc(50% - 300px);
  left: calc(50% - 350px);
}

.background_g2 {
  top: calc(50% - 115px);
  left: calc(50% - 250px);
}

.circle-background {
  fill: none;
  stroke: #ddd;
}

.circle-progress {
  fill: none;
  stroke: red;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 3em;
  font-weight: bold;
  fill: red;
}

.avatar2 {
  width: 32px;
  height: 32px;
}
.avatar2 img {
  border-radius: 16px;
}

.textIF p {
  color: #F2F2F2;
  font-size: 16px;
  font-weight: bold;
}
.textIF input {
  padding: 0 10px;
  color: #FFFFFF;
  background: #11161B;
  border: #83E4E4 1px solid;
  border-radius: 3px;
  font-size: 12px;
  width: 366px;
}

.inputS p {
  color: #83E4E4;
  font-size: 16px;
  position: absolute;
}
.inputS input {
  border: none;
  height: 28px;
  mask-image: url("../svg/border.svg");
  cursor: pointer;
}

.buttonS {
  cursor: pointer;
}

.registration {
  position: relative;
  z-index: 100;
  padding-top: 84px;
  width: 100%;
  height: 100%;
}
.registration form {
  width: 370px;
  margin: 0 auto;
}
.registration .registration__signIn {
  width: 366px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.registration .registration__signIn .registration__button {
  background: none;
  font-size: 16px;
  color: #F2F2F2;
  border: none;
}
.registration .registration_tittle {
  font-weight: bold !important;
  font-size: 16px !important;
  color: #F2F2F2 !important;
}
.registration .registration__login, .registration .registration__password, .registration .registration__confirm-password {
  margin-bottom: 12px;
}
.registration .registration__date {
  margin-bottom: 12px;
}
.registration .registration__date p {
  font-size: 16px;
  color: #F2F2F2;
}
.registration .registration__date .ant-select {
  width: 78px;
}
.registration .registration__date .registration__dateSelector {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 30px;
}
.registration .registration__date .ant-select-selector {
  height: 17px;
  background: #11161B;
  border: #83E4E4 1px solid;
  border-radius: 3px;
  font-size: 12px;
  color: #F2F2F2;
  text-align: center;
}
.registration .registration__date .ant-select-selection-search {
  left: 0px;
  width: 95px;
}
.registration .registration__date .ant-select-selection-item {
  margin: 0 auto;
  line-height: 17px;
  padding: 0;
}
.registration .registration__date .ant-select-arrow {
  right: -17px;
  color: #FFFFFF;
  font-size: 12px;
  margin-top: -7px;
  width: 15px;
  height: 14px;
}
.registration .registration__sex {
  cursor: pointer;
  margin-bottom: 12px;
}
.registration .registration__sex p {
  color: #F2F2F2;
  font-size: 12px;
}
.registration .registration__sex .registration__radioB {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 30px;
}
.registration .registration__sex .registration__radioB .radioB {
  display: flex;
  flex-direction: columns;
}
.registration .registration__sex .registration__radioB p {
  display: inline;
  margin-right: 7px;
}
.registration .registration__sex .registration__radioB img {
  width: 18px;
  height: 18px;
  margin-left: 1px;
  margin-bottom: 8px;
  transform: rotate(45deg);
}
.registration .registration__sex .registration__radioB .registration__outline {
  border-radius: 2px;
  border: 1px solid #83E4E4;
  margin-top: -2px;
  width: 22px;
  height: 22px;
}
.registration .registration__inputS {
  width: 210px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.registration .registration__inputS p {
  text-align: center;
  width: 210px;
}
.registration .registration__inputS input {
  background-size: 210px 28px;
  color: #F2F2F2;
  width: 210px;
}
.registration .registration__exist {
  color: #F2F2F2;
  font-size: 12px;
}

.signIn {
  position: relative;
  z-index: 100;
  padding-top: 84px;
  width: 100%;
  height: 100%;
}
.signIn form {
  width: 370px;
  margin: 0 auto;
}
.signIn .signIn__login, .signIn .signIn__password {
  margin-bottom: 12px;
}
.signIn .signIn__inputS {
  width: 210px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.signIn .signIn__inputS p {
  text-align: center;
  width: 210px;
}
.signIn .signIn__inputS input {
  background-size: 210px 28px;
  color: #F2F2F2;
  width: 210px;
}
.signIn .signIn_button {
  width: 123px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background: none;
  color: #F2F2F2;
  font-size: 12px;
  border: none;
}

.requestRecPas {
  position: relative;
  z-index: 100;
  padding-top: 84px;
  width: 100%;
  height: 100%;
}
.requestRecPas form {
  width: 370px;
  margin: 0 auto;
}
.requestRecPas .requestRecPas__inputS {
  width: 210px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.requestRecPas .requestRecPas__inputS p {
  text-align: center;
  width: 210px;
}
.requestRecPas .requestRecPas__inputS input {
  background-size: 210px 28px;
  color: #F2F2F2;
  width: 210px;
}
.requestRecPas .requestRecPas__text {
  margin-top: 20px;
  color: #F2F2F2;
  font-size: 12px;
}

.recoveryPas {
  position: relative;
  z-index: 100;
  padding-top: 84px;
  width: 100%;
  height: 100%;
}
.recoveryPas form {
  width: 370px;
  margin: 0 auto;
}
.recoveryPas .recoveryPas__password, .recoveryPas .recoveryPas__confirmPas {
  margin-bottom: 12px;
}
.recoveryPas .recoveryPas__inputS {
  width: 210px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.recoveryPas .recoveryPas__inputS p {
  text-align: center;
  width: 210px;
}
.recoveryPas .recoveryPas__inputS input {
  background-size: 210px 28px;
  color: #F2F2F2;
  width: 210px;
}

.news {
  width: 582px;
  margin: 0 auto;
  margin-top: 50px;
  z-index: 100;
  position: relative;
}
.news .post {
  width: 100%;
  background: #11161B;
  border: 1px solid #83E4E4;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 35px;
  padding: 15px 20px 8px 20px;
}
.news .post .news__post-header {
  font-family: "cyberdyne";
  border-bottom: 1px solid #F2F2F2;
  display: grid;
  grid-template-columns: 375px 165px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.news .post .news__post-header .news__post-leftSide, .news .post .news__post-header .news__post-rightSide {
  display: flex;
  flex-direction: row;
}
.news .post .news__post-header .news__post-leftSide {
  font-size: 18px;
}
.news .post .news__post-header .news__post-leftSide .avatar1 {
  margin-right: 20px;
}
.news .post .news__post-header .news__post-rightSide {
  padding-top: 7px;
  font-size: 12px;
}
.news .post .news__post-header .news__post-rightSide .news__post-date {
  margin-right: 30px;
}
.news .post .news__post-text {
  font-family: "Roboto";
  margin-bottom: 15px;
}
.news .post .news__post-photos {
  width: 540px;
  height: 100%;
}
.news .post .news__post-photos .picture {
  max-width: 540px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.news .post .news__post-photos .picture img {
  max-width: 540px;
}
.news .post .news__post-photos .pictures {
  animation: comeIn ease 0.5s;
  animation-iteration-count: 1;
  transition: left 0.3s ease, top 0.3s ease;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.news .post .news__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}
.news .post .news__footer .news__post-likes, .news .post .news__footer .news__post-dislikes, .news .post .news__footer .news__post-comments {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  font-size: 12px;
}
.news .post .news__footer .news__post-likes p, .news .post .news__footer .news__post-dislikes p, .news .post .news__footer .news__post-comments p {
  padding-top: 5px;
  padding-left: 5px;
}
.news .post .news__footer .news__post-comments {
  margin-right: 0;
}
.news .comments {
  background: #11161B;
  border: 1px solid #83E4E4;
  border-radius: 15px;
  margin-bottom: 25px;
}
.news .comments .news__moreComments {
  font-size: 12px;
  margin: 15px 40px 15px 40px;
}
.news .comments .comment {
  font-family: "Roboto";
  border-bottom: 1px solid #83E4E4;
  margin: 0 40px 15px 40px;
}
.news .comments .comment .news__comment-content {
  display: grid;
  grid-template-columns: 32px 440px;
  grid-gap: 18px;
}
.news .comments .comment .news__comment-content .news__comment-rightSide .news__comment-nickName {
  font-size: 18px;
  color: #83E4E4;
}
.news .comments .comment .news__comment-content .news__comment-rightSide .news__comment-text {
  font-size: 16px;
}
.news .comments .comment .news__comment-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 15px;
}
.news .comments .comment .news__comment-footer .news__comment-likes, .news .comments .comment .news__comment-footer .news__comment-dislikes {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  font-size: 12px;
}
.news .comments .comment .news__comment-footer .news__comment-likes p, .news .comments .comment .news__comment-footer .news__comment-dislikes p {
  padding-top: 5px;
  padding-left: 5px;
}
.news .comments .news__reply {
  display: grid;
  grid-template-columns: 32px 460px 26px;
  grid-gap: 10px;
  margin: 0 20px 15px 20px;
}
.news .comments .news__reply .avatar2 img {
  width: 32px;
  height: 32px;
}
.news .comments .news__reply .news__reply-input {
  border: 1px solid #83E4E4;
  border-radius: 5px;
  min-height: 40px;
  padding: 6px 10px 2px 10px;
}
