
.circle-background {
	fill: none;
	stroke: #ddd;
}
.circle-progress {
	fill: none;
	stroke: red;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.circle-text {
	font-size: 3em;
	font-weight: bold;
	fill: red;
}
