@import '~antd/dist/antd.css';
@import './cyberdyne.css';
@import './robotoMono.css';
@import './payment.css';

$color-dark-blue: #56CCF2;
$color-white-blue: #83E4E4;
$color-red: #EB5757;
$color-yellow: #FFD074;
$color-black1: #11161bb8;
$color-black2: #11161b61;
$color-gray: #F2F2F2;
$color-white: #FFFFFF;
$color-green: #B2DF8A;

$size-standart: 16px;
$size-big: 18px;
$size-mini: 12px;
$size-medium: 13px;
$size-large: 24px;

$width-big: 210px;
$width-medium: 160px;
$width-small: 120px;
$width-short: 90px;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}


@keyframes comeIn {
    0% { transform: scale(.5); opacity: 0; }
    75% { transform: scale(1.03); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}

// main
body, html, #root, .App {
  height: 100%;
  width: 100%;

  background-size: 100%;
  position: relative;
}

h1 {
  color: $color-gray;
  font-size: $size-big;
  text-align: center;
  margin-bottom: 50px;
}

p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

div {
  word-wrap: break-word;
}

body {
  // -apple-system, BlinkMacSystemFont,
  margin: 0;
  font-family: 'Roboto Mono', 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-gray;
  font-size: $size-standart;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-background {
  background: url("../images/background.jpg");
  position: fixed;
  height: 100%;
  width: 100%;
}

.App-content {
  height: 100%;
  display: grid;
  grid-template-columns: 200px calc(100% - 400px) 200px;
}

.center {
  min-width: 770px;
  // max-width: calc(100% - 400px);
  margin: 0 auto;
  position: relative;

  .content {
    margin-bottom: 100px;
  }
}

.header {
  margin: 0 auto;
  width: 770px;
  // background: red;
  position: relative;
  height: 120px;

  .inputS {
    p {
      color: inherit;
    }
  }

  .header-content {
    position: relative;
    z-index: 100;
    height: 100%;
  }

  .header-background {
    position: absolute;
    background: $color-black1;
    height: 100%;
    width: 100%;
    margin-top: 1px;
    margin-left: 1px;
    top: 0px;
    z-index: 1;

    -webkit-mask-image: url('../svg/headerBackground.svg');
    mask-image: url('../svg/headerBackground.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
  }

  .header-outline {
    position: absolute;
    background: #83e4e469;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 1;
    -webkit-mask-image: url('../svg/headerOutline.svg');
    mask-image: url('../svg/headerOutline.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
  }

}

.footer {
  height: 58px;
  width: 770px;
  position: absolute;
  bottom: 0;
  .footer-outline {
    position: absolute;
    background: $color-white-blue;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 1;
    -webkit-mask-image: url('../svg/footerOutline.svg');
    mask-image: url('../svg/footerOutline.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
  }

  .footer-background {
    position: absolute;
    background: $color-black1;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 1;
    -webkit-mask-image: url('../svg/footerBackground.svg');
    mask-image: url('../svg/footerBackground.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
  }
}

.background_g1, .background_g2 {
  z-index: 1;
  opacity: 5%;
  position: fixed;
  top: calc(50% - 300px);
  left: calc(50% - 350px);
}

.background_g2 {
  top: calc(50% - 115px);
  left: calc(50% - 250px);
}

//button group _________________________________________________________________
.btn-group {
  display: flex;
  flex-direction: row;
}

//circular progress bar ________________________________________________________
.circle-background {
	fill: none;
	stroke: #ddd;
}

.circle-progress {
	fill: none;
	stroke: red;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.circle-text {
  font-family: "cyberdyne";
  font-size: 35px;
}

//avatar2 ______________________________________________________________________
.avatar2 {
  width: 32px;
  height: 32px;

  img {
    border-radius: 16px;
  }
}
//text input field _____________________________________________________________
.textIF {
  p {
    color: $color-gray;
    font-size: $size-standart;
    font-weight: bold;
  }

  input {
    padding: 0 10px;
    color: $color-white;
    background: $color-black1;
    border: $color-white-blue 1px solid;
    border-radius: 3px;
    font-size: $size-mini;
    width: 366px;
  }
}

//input submit _________________________________________________________________
.inputS {
  position: relative;

  .inputS_imgLeft, .inputS_imgRight {
    position: absolute;
  }

  .inputS_imgRight {
    right: 0;
  }

  p {
    // color: $color-white-blue;
    color: inherit;
    font-size: $size-standart;
    position: absolute;
    width: 100%;
  }

  .inputS-outline {
    height: 28px;
    -webkit-mask-image: url('../svg/border.svg');
    mask-image: url('../svg/border.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    cursor: pointer;
  }

  .inputS-shadow {
    position: absolute;
    top: 14px;
  }
}

.avatar1 {
  cursor: pointer;

  .outline {
    position: absolute;
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-mask-size: 128px;
    width: 133px;
    height: 130px;
    -webkit-mask-image: url('../svg/outline.svg');
    mask-image: url('../svg/outline.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center center;
  }

  .outlineBorder {
    position: absolute;
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-mask-size: 128px;
    width: 133px;
    height: 130px;
    -webkit-mask-image: url('../svg/outlineBorder.svg');
    mask-image: url('../svg/outlineBorder.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center center;
  }

  .avatar {
    height: 70px;
    width: 70px;
    margin: 0 auto;
    align-self: center;

    .shield {
      position: absolute;
      background: rgb(241,239,239);
      background: linear-gradient(180deg, rgba(241,239,239,1) 0%, rgba(203,250,252,1) 100%);

      // background: rgb(2,0,36);
      // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
      width: 70px;
      height: 83px;
      -webkit-mask-image: url('../svg/shieldOutline.svg');
      mask-image: url('../svg/shieldOutline.svg');
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      mask-position: center center;
    }

    .photo {
      position: absolute;
      width: 70px;
      height: 83px;
      display: block;
      -webkit-mask-image: url('../svg/shield.svg');
      mask-image: url('../svg/shield.svg');
      -webkit-mask-position: center center;
      mask-position: center center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
    }
  }


}

//button submit ________________________________________________________________
.buttonS {
  cursor: pointer;
}

////////////////////////////HEADERS/////////////////////////////////////////////

.headerArena {
  display: grid;
  grid-template-columns: 210px 350px 210px;

  .headerArena-leftSide {
    width: $width-medium;
    margin-left: 51px;
    margin-top: 30px;
    .inputS {

      .inputS-outline {
        -webkit-mask-image: url('../svg/borderSmall.svg');
        mask-image: url('../svg/borderSmall.svg');
      }

      .inputS-children {
        p {
          color: inherit;
        }
      }
      .inputS_imgLeft {
        width: 25px;
        height: 26px;
        left: 19px;
        top: 11px;

        .image {
          width: 25px;
          height: 23px;
          -webkit-mask-image: url('../svg/gg.svg');
          mask-image: url('../svg/gg.svg');
        }
      }

      p {
        text-align: center;
        line-height: 42px;
      }

      .inputS-outline {
        height: 45px;
        transform: rotateY(180deg);
      }
    }
  }

  .headerArena-center {
    position: relative;
    width: 345px;
    height: 129px;
    margin: 0 auto;
    z-index: 100;

    .headerArena-csgo {
      position: absolute;
      z-index: 200;
      left: calc(50% - 152px / 2);
      top: 25px;
    }

    .headerArena-trapeze {
      position: absolute;
      z-index: 100;
    }
  }

  .headerArena-rightSide {
    width: $width-medium;
    margin-top: 30px;
    margin-left: 20px;
    .inputS {

      .inputS-outline {
        -webkit-mask-image: url('../svg/borderSmall.svg');
        mask-image: url('../svg/borderSmall.svg');
      }

      .inputS_imgRight {
        right: 20px;
        top: 7px;

        .image {
          width: 30px;
          height: 29px;
          -webkit-mask-image: url('../svg/person.svg');
          mask-image: url('../svg/person.svg');
        }
      }

      .nickName {
        margin-top: 5px;
      }

      .cash {
        margin-top: 20px;
      }

      .inputS_imgLeft {
        width: 25px;
        height: 23px;
        left: 20px;
        top: 7px;
      }

      p {
        font-family: 'cyberdyne condensed';
        text-align: right;
        padding-right: 55px;
        font-size: $size-medium;
      }

      .inputS-outline {
        height: 45px;
      }
    }
  }
}

.headerNews {
  display: grid;
  grid-template-columns: 210px 350px 210px;

  .headerNews-leftSide {
    width: $width-medium;
    margin-left: 35px;
    margin-top: 20px;
    .inputS {

      .inputS-outline {
        -webkit-mask-image: url('../svg/borderSmall.svg');
        mask-image: url('../svg/borderSmall.svg');
      }

      .inputS-children {
        p {
          color: inherit;
        }
      }
      .inputS_imgLeft {
        width: 25px;
        height: 26px;
        left: 25px;
        top: 11px;

        .image {
          width: 25px;
          height: 23px;
          -webkit-mask-image: url('../svg/gg.svg');
          mask-image: url('../svg/gg.svg');
        }
      }

      p {
        text-align: center;
        line-height: 42px;
      }

      .inputS-outline {
        height: 50px;
        transform: rotateY(180deg);
      }
    }
  }

  .headerNews-center {
    position: relative;
    width: 345px;
    height: 129px;
    margin: 0 auto;
    z-index: 100;

    .headerNews-title {
      position: absolute;
      z-index: 200;
      left: calc(50% - 48px);
      font-size: $size-large;
      color: $color-white-blue;
    }
    .headerNews-earth {
      position: absolute;
      z-index: 200;
      left: calc(50% - 39px);
      top: 40px;
    }
    .headerNews-trapeze {
      position: absolute;
      z-index: 100;
    }
  }

  .headerNews-rightSide {
    width: $width-medium;
    margin-top: 20px;
    margin-left: 20px;
    .inputS {

      .inputS-outline {
        -webkit-mask-image: url('../svg/borderSmall.svg');
        mask-image: url('../svg/borderSmall.svg');
      }

      .inputS_imgRight {
        right: 20px;
        top: 7px;

        .image {
          width: 30px;
          height: 29px;
          -webkit-mask-image: url('../svg/person.svg');
          mask-image: url('../svg/person.svg');
        }
      }

      .nickName {
        margin-top: 5px;
      }

      .cash {
        margin-top: 20px;
      }

      .inputS_imgLeft {
        width: 25px;
        height: 23px;
        left: 20px;
        top: 7px;
      }

      p {
        font-family: 'cyberdyne condensed';
        text-align: right;
        padding-right: 55px;
        font-size: $size-medium;
      }

      .inputS-outline {
        height: 50px;
      }
    }
  }
}

.headerPersonal {
  display: grid;
  grid-template-columns: 115px 70px 250px 100px calc(100% - (115px + 70px + 250px + 100px) - 15px * 4);
  grid-gap: 15px;
  .side1 {
    margin-top: 20px;
    margin-left: 24px;
    .inputS {

      .inputS-outline {
        -webkit-mask-image: url('../svg/borderShort.svg');
        mask-image: url('../svg/borderShort.svg');
      }

      .inputS_imgLeft {
        width: 25px;
        height: 26px;
        left: 10px;
        top: 8px;

        .image {
          width: 25px;
          height: 23px;
          -webkit-mask-image: url('../svg/gg.svg');
          mask-image: url('../svg/gg.svg');
        }
      }

      p {
        padding-right: 9px;
        line-height: 38px;
        text-align: right;
      }

      .inputS-outline {
        height: 38px;
        transform: rotateY(180deg);
      }
    }
  }

  .side2 {
    margin-top: 20px;
    height: 83px;
    .avatar1 {
      .outline {
        background: none;
        height: 83px;
        width: 70px;
        .avatar {
          height: 83px;
          width: 70px;
          img {
            height: 83px;
            width: 70px;
          }
        }
      }
      .outlineBorder {
        display: none;
      }
    }
  }

  .side3 {
    margin-top: 30px;
    .nickName {
      font-size: $size-mini;
    }
    .about {
      font-size: $size-mini;
    }
    .icons {
      color: $color-white-blue;
    }
  }

  .side4 {
    margin-top: 30px;
    .title {
      font-size: $size-mini;
      text-align: center;
    }
    .raiting {
      text-align: center;
      font-size: $size-big;
      font-family: 'cyberdyne expanded';
      color: $color-white-blue;
    }
  }

  .side5 {
    // right: 30px;
    // position: absolute;
    margin-top: 20px;
    width: $width-medium;
    .inputS {
      font-family: 'cyberdyne condensed';
      margin-bottom: 10px;
      text-align: center;

      .inputS-outline {
        -webkit-mask-image: url('../svg/borderSmall.svg');
        mask-image: url('../svg/borderSmall.svg');
      }
    }
    .icon {
      margin-right: 10px;
      cursor: pointer;
    }
    .nickName {
      cursor: pointer;
    }
  }
}

////////////////////////////REGISTRATION////////////////////////////////////////

.registration {
  position: relative;
  z-index: 100;
  padding-top: 84px;
  width: 582px;
  margin: 0 auto;
  height: 100%;

  form {
    width: 370px;
    margin: 0 auto;
  }

  .registration__signIn {
    width: 366px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;

    .registration__button {
      background: none;
      font-size: $size-standart;
      color: $color-gray;
      border: none;
    }
  }

  .registration_title {
    font-weight: bold!important;
    font-size: $size-standart!important;
    color: $color-gray!important;
  }

  .registration__login, .registration__password, .registration__confirm-password {
    margin-bottom: 12px;
  }

  .registration__date {
    margin-bottom: 12px;
    p {
      font-size: $size-standart;
      color: $color-gray;
    }

    .ant-select {
      width: 78px;
    }

    .registration__dateSelector {
      display: grid;
      grid-template-columns: 100px 100px 100px;
      grid-gap: 30px;
    }

    .ant-select-selector {
      height: 17px;
      background: $color-black1;
      border: $color-white-blue 1px solid;
      border-radius: 3px;
      font-size: $size-mini;
      color: $color-gray;
      text-align: center;
    }

    .ant-select-selection-search {
      left: 0px;
      width: 95px;
    }

    .ant-select-selection-item {
      margin: 0 auto;
      line-height: 17px;
      padding: 0;
    }

    .ant-select-arrow {
      right: -17px;
      color: $color-white;
      font-size: 12px;
      margin-top: -7px;
      width: 15px;
      height: 14px;
    }
  }

  .registration__sex {
    cursor: pointer;
    margin-bottom: 12px;
    p {
      color: $color-gray;
      font-size: $size-mini;
    }

    .registration__radioB {
      display: grid;
      grid-template-columns: 100px 100px 100px;
      grid-gap: 30px;

      .radioB {
        display: flex;
        flex-direction: columns;
      }

      p {
        display: inline;
        margin-right: 7px;
      }

      img {
        width: 18px;
        height: 18px;
        margin-left: 1px;
        margin-bottom: 8px;
        transform: rotate(45deg);
      }

      .registration__outline {
        border-radius: 2px;
        border: 1px solid $color-white-blue;
        margin-top: -2px;
        width: 22px;
        height: 22px;
      }
    }
  }

  .inputS {
    width: $width-big;
    display: block;
    margin: 0 auto;
    margin-top: 50px;

    .inputS-outline {
      -webkit-mask-image: url('../svg/borderMedium.svg');
      mask-image: url('../svg/borderMedium.svg');
    }

    p {
      text-align: center;
      width: $width-big;
    }
  }

  .registration__exist {
    color: $color-gray;
    font-size: $size-mini;
  }
}

////////////////////////////SIGN IN/////////////////////////////////////////////

.signIn {
  position: relative;
  z-index: 100;
  padding-top: 84px;
  width: 582px;
  margin: 0 auto;
  height: 100%;

  form {
    width: 370px;
    margin: 0 auto;
  }

  .signIn__login, .signIn__password {
    margin-bottom: 12px;
  }

  .inputS {
    width: $width-big;
    display: block;
    margin: 0 auto;
    margin-top: 50px;

    .inputS-outline {
      -webkit-mask-image: url('../svg/borderMedium.svg');
      mask-image: url('../svg/borderMedium.svg');
    }

    p {
      text-align: center;
      width: $width-big;
    }
  }

  .signIn_button {
    width: 123px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background: none;
    color: $color-gray;
    font-size: $size-mini;
    border: none;
  }
}

////////////////////////////REQUEST RECOVERY PASSWORD///////////////////////////

//request recovery password ____________________________________________________
.requestRecPas {
   position: relative;
   z-index: 100;
   padding-top: 84px;
   width: 582px;
   margin: 0 auto;
   height: 100%;

   form {
     width: 370px;
     margin: 0 auto;
   }

   .inputS {
     width: $width-big;
     display: block;
     margin: 0 auto;
     margin-top: 50px;

     .inputS-outline {
       -webkit-mask-image: url('../svg/borderMedium.svg');
       mask-image: url('../svg/borderMedium.svg');
     }

     p {
       text-align: center;
       width: $width-big;
     }

     input {
       background-size: $width-big 28px;
       color: $color-gray;
       width: $width-big;
     }
   }

   .requestRecPas__text {
     margin-top: 20px;
     color: $color-gray;
     font-size: $size-mini;
   }
 }

////////////////////////////RECOVERY PASSWORD///////////////////////////////////

.recoveryPas {
  position: relative;
  z-index: 100;
  padding-top: 84px;
  width: 582px;
  margin: 0 auto;
  height: 100%;

  form {
    width: 370px;
    margin: 0 auto;
  }

  .recoveryPas__password, .recoveryPas__confirmPas {
    margin-bottom: 12px;
  }

  .inputS {
    width: $width-big;
    display: block;
    margin: 0 auto;
    margin-top: 50px;

    .inputS-outline {
      -webkit-mask-image: url('../svg/borderMedium.svg');
      mask-image: url('../svg/borderMedium.svg');
    }

    p {
      text-align: center;
      width: $width-big;
    }

    input {
      background-size: $width-big 28px;
      color: $color-gray;
      width: $width-big;
    }
  }
}

/////////////////////////////NEWS///////////////////////////////////////////////

//news _________________________________________________________________________
.news {
  width: 582px;
  margin: 0 auto;
  margin-top: 50px;
  z-index: 100;
  position: relative;
  .post {
    width: 100%;
    // background: $color-black1;
    background: #2f4356b8;
    // background: #3f4548ba;
    // border: 1px solid $color-white-blue;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: 35px;
    padding: 10px 20px 8px 20px;

    .news__post-header {
      font-family: 'cyberdyne';
      border-bottom: 1px solid $color-gray;
      display: grid;
      grid-template-columns: 375px 165px;
      padding-bottom: 7px;
      margin-bottom: 15px;

      .news__post-leftSide, .news__post-rightSide {
        display: flex;
        flex-direction: row;
      }

      .news__post-leftSide {
        font-size: $size-big;
        display: flex;

        .news__post-author {
          align-self: center;
        }

        .avatar1 {
          margin-right: 20px;
          width: 41px;
          height: 48px;

          .outline {
            width: 41px;
            height: 48px;
            background: none;
          }

          .avatar {
            align-self: auto;
            width: 41px;
            height: 48px;

            .photo {
              width: 41px;
              height: 48px;
              -webkit-mask-size: 40px;
              mask-size: 40px;
            }

            .shield {
              width: 41px;
              height: 48px;
              -webkit-mask-size: 40px;
              mask-size: 40px;
            }
          }

          .outlineBorder {
            display: none;
          }
        }
      }

      .news__post-rightSide {
        display: flex;
        font-size: $size-mini;

        .news__post-date {
          align-self: center;
          margin-right: 30px;
        }

        .news__post-time {
          align-self: center;
        }
      }
    }

    .news__post-content {
      .news__post-text {
        // font-family: 'Roboto Mono';
        margin-bottom: 15px;
        line-height: 120%;
      }

      .news__post-photos {
        width: 540px;
        height: 100%;

        .picture {
          max-width: 540px;
          margin-right: 5px;
          margin-bottom: 5px;
          img {
            max-width: 540px;
          }
        }

        .pictures {
          animation: comeIn ease 0.5s;
          animation-iteration-count: 1;
          transition: left .3s ease, top .3s ease;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
        }
      }

    }

    .news__footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 10px;
      .news__post-likes, .news__post-dislikes, .news__post-comments {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        font-size: $size-mini;
        p {
          padding-top: 5px;
          padding-left: 5px;
        }
      }

      .news__post-comments {
        margin-right: 0;
      }
    }
  }

  .comments {
    background: $color-black1;
    border: 1px solid $color-white-blue;
    // padding: 15px 40px 8px 40px;
    border-radius: 15px;
    margin-bottom: 25px;

    .news__moreComments {
      font-size: $size-mini;
      // margin-bottom: 15px;
      margin: 15px 40px 15px 40px;
    }

    .comment {
      font-family: 'Roboto';
      border-bottom: 1px solid $color-white-blue;
      // margin-bottom: 15px;
      margin: 0 40px 15px 40px;
      .news__comment-content {
        display: grid;
        grid-template-columns: 32px 440px;
        grid-gap: 18px;

        .news__comment-rightSide {
          .news__comment-nickName {
            font-size: $size-big;
            color: $color-white-blue;
          }

          .news__comment-text {
            font-size: $size-standart;
          }
        }
      }

      .news__comment-footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 10px;
        margin-bottom: 15px;
        .news__comment-likes, .news__comment-dislikes {
          display: flex;
          flex-direction: row;
          margin-right: 20px;
          font-size: $size-mini;
          p {
            padding-top: 5px;
            padding-left: 5px;
          }
        }
      }
    }

    .news__reply {
      display: grid;
      grid-template-columns: 32px 460px 26px;
      grid-gap: 10px;
      margin: 0 20px 15px 20px;

      .avatar2 {
        img {
          width: 32px;
          height: 32px;
        }
      }

      .news__reply-input {
        border: 1px solid $color-white-blue;
        border-radius: 5px;
        min-height: 40px;
        padding: 6px 10px 2px 10px;
      }
    }
  }

}

//news portal___________________________________________________________________
.news__portal {
  background: #181e26bf;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  display: flex;

  .news__portal-wrap {
    width: calc(70vw + 120px);
    min-width: 720px;
    max-width: 920px;
    margin: 0 auto;
    align-self: center;
  }

  .news__portal-picture {
    width: 70vw;
    min-width: 600px;
    max-width: 800px;
  }

  .news__portal-prevPicture {
    height: 40px;
    width: 40px;
    margin-right: 20px;
  }

  .news__portal-nextPicture {
    height: 40px;
    width: 40px;
    margin-left: 20px;
  }
}

/////////////////////////////PERSONAL PAGE//////////////////////////////////////

.personalPage {
  padding-top: 20px;
  z-index: 100;
  position: relative;
  margin: 0 auto;
  width: 582px;

  .statics {
    padding: 20px 30px;
    margin-top: 40px;
    // border: 1px solid $color-white-blue;
    background: #2f4356b8;
    // background: #3f4548ba;
    border-radius: 20px;
    display: grid;
    grid-gap: 29px;
    grid-template-columns: 157px 157px 157px;

    span {
      font-family: "cyberdyne";
      color: $color-dark-blue;
    }

    .personalPage__statics-column1 {
      div {
        position: relative;
        margin-bottom: 20px;
      }

      span {
        top: 0px;
        right: 0px;
        position: absolute;
      }


    }

    .personalPage__statics-column2 {
      text-align: center;

      p {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: $size-big;
      }
    }

    .personalPage__statics-column3 {
      div {
        position: relative;
        margin-bottom: 20px;
      }

      span {
        top: 0px;
        right: 0px;
        position: absolute;
      }
    }
  }

  .personalPage__header {
    .inputS {
      width: $width-medium;
      display: block;

      .inputS-outline {
        -webkit-mask-image: url('../svg/borderMedium.svg');
        mask-image: url('../svg/borderMedium.svg');
      }


      p {
        text-align: center;
        width: $width-medium;
      }
      .inputS-shadow {
        width: $width-medium;
      }
    }
    .personalPage__header-top {
      display: flex;
      flex-direction: row;
    }

    .personalPage__header-bottom {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      margin-left: $width-medium;

      .inputS:nth-child(2) {
        width: $width-big;
        display: block;
        p {
          text-align: center;
          width: $width-big;
        }
      }
    }

  }

  .personalPage__delimiter {
    background: $color-black1;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 10px;
    height: 28px;
  }

  .personalPage__history {

    .personalPage__columns {
      font-size: $size-standart;
      font-weight: bold;
      display: grid;
      grid-template-columns: 81px 39px 52px 81px;
      grid-gap: 90px;
      margin-left: 30px;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    .currentDay {
      .currentHistory {
        margin-bottom: 10px;
        position: relative;

        .personalPage__currentHistory-wrap {
          display: grid;
          grid-template-columns: 90px 55px 90px 70px;
          grid-gap: 70px;
          padding-left: 35px;
          height: 40px;
          align-items: center;
          position: relative;
          z-index: 100;
        }

        .avatar2 {
          img {
            height: 28px;
            width: 28px;
          }
        }

        .personalPage__history-team1 {
          display: flex;
          flex-direction: row;
        }

        .personalPage__history-team2 {
          display: flex;
          flex-direction: row;
        }
      }

      // .currentHistory-outline {
      //   -webkit-mask-image: url('../svg/borderLarge.svg');
      //   mask-image: url('../svg/borderLarge.svg');
      //   -webkit-mask-repeat: no-repeat;
      //   mask-repeat: no-repeat;
      //   -webkit-mask-position: center center;
      //   mask-position: center center;
      //   cursor: pointer;
      //   height: 40px;
      //   position: absolute;
      //   top: 0;
      //   width: 582px;
      // }
      .currentHistory-background {
        z-index: 1;
        background: rgba(89, 167, 234, 0.46);
        -webkit-mask-image: url('../svg/borderLargeBackground.svg');
        mask-image: url('../svg/borderLargeBackground.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
        cursor: pointer;
        height: 40px;
        position: absolute;
        top: 0;
        width: 582px;
      }
    }

  }

  .personalPage__graphic {
    margin-top: 50px;
    .highcharts-axis-labels, .highcharts-legend {
      text {
        fill: $color-white!important;
      }
    }

    .highcharts-background {
      fill: none;
    }

    .personalPage__chooseInterval {
      display: grid;
      grid-template-columns: 80px 80px 80px 80px 80px;
      grid-gap: 10px;
      width: 400px;
      margin: 0 auto;

      .inputS {
        min-width: 80px;
        width: $width-short;
        display: block;

        .inputS-outline {
          -webkit-mask-image: url('../svg/borderShort.svg');
          mask-image: url('../svg/borderShort.svg');
        }

      }

      p {
        text-align: center;
        width: $width-short;
      }

      .inputS-shadow {
        width: $width-short;
      }
    }
  }

  .personalPage__profit {

    .personalPage__columns {
      font-size: $size-standart;
      font-weight: bold;
      display: grid;
      grid-template-columns: 81px 81px  81px 52px 72px;
      grid-gap: 40px;
      margin-left: 30px;
      margin-top: 15px;
      margin-bottom: 5px;

      .personalPage__colums-column1 {
        min-width: 81px;
      }

      .personalPage__colums-column2 {
        min-width: 81px;
      }

      .personalPage__colums-column3 {
        min-width: 81px;
      }

      .personalPage__colums-column4 {
        min-width: 52px;
      }

      .personalPage__colums-column5 {
        min-width: 72px;
      }
    }


    .currentDay {
      .currentProfit {
        margin-bottom: 10px;
        position: relative;

        .personalPage__currentProfit-wrap {
          display: grid;
          grid-template-columns: 96px 89px 72px 86px 48px;
          grid-gap: 30px;
          padding-left: 35px;
          height: 40px;
          align-items: center;
          position: relative;

          .personalPage__profit-profit {
            text-align: center;
          }
        }

        .avatar2 {
          img {
            height: 28px;
            width: 28px;
          }
        }

        .personalPage__profit-team1 {
          display: flex;
          flex-direction: row;
        }

        .personalPage__profit-team2 {
          display: flex;
          flex-direction: row;
        }

        .currentProfit-outline {
          -webkit-mask-image: url('../svg/borderLarge.svg');
          mask-image: url('../svg/borderLarge.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
          height: 40px;
          position: absolute;
          top: 0;
          width: 582px;
        }
      }
    }
  }

  .addPaymentCard {
    margin-top: 50px;
    // text-align: center;
    .textIF {
      margin-bottom: 20px;
    }

    .inputS {
      margin: 0 auto;
      width: $width-medium;
      p {
        text-align: center;
      }
    }
  }
}

.detailedInf {
  width: 524px;
  margin: 0 auto;
  padding-top: 5px;
  // background: #59a7ea75;
  .detailedInf-user{
    display: grid;
    grid-template-columns: 32px 135px 145px 145px;
    grid-gap: 15px;
    padding: 0 20px;
    margin-bottom: 3px;

    .detailedInf-nickName {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
    .detailedInf-kills, .detailedInf-deaths  {
      display: flex;
      flex-direction: row;
      .detailedInf-title {
        margin-right: 20px;
      }
      .detailedInf-score {
        font-family: 'Cyberdyne';
        color: $color-white-blue;
        line-height: 30px;
      }
    }
  }

  .detailedInf-winner {
    .detailedInf-user{
      background: #ffd07459;
    }

  }
  .detailedInf-result {
    background: $color-black1;
    text-align: center;
    font-family: 'Cyberdyne';
  }
  .detailedInf-loser {
    .detailedInf-user{
      background: #eb575759;
    }
  }
}
/////////////////////////////MODE SELECTION/////////////////////////////////////

.modeSelection {
  padding-top: 20px;
  z-index: 100;
  position: relative;
  margin: 0 auto;
  width: 582px;

  // .modeSelection__leaders {
  //   position: relative;
  //   height: 300px;
  //   width: calc(390px + 390px + 60px);
  //   left: calc(50% - (390px + 390px + 60px)/2);
  //   cursor: pointer;
  //
  //   .modeSelection__leaders-outline1 {
  //     width: 390px;
  //     height: 198px;
  //     position: absolute;
  //
  //     .modeSelection__largeWing{
  //       position: absolute;
  //       background: $color-white-blue;
  //       height: 198px;
  //       width: 390px;
  //       -webkit-mask-image: url('../svg/largeWing.svg');
  //       mask-image: url('../svg/largeWing.svg');
  //       -webkit-mask-repeat: no-repeat;
  //       mask-repeat: no-repeat;
  //       -webkit-mask-position: center center;
  //       mask-position: center center;
  //     }
  //
  //     .modeSelection__mediumWing{
  //       top: 52px;
  //       left: 2px;
  //       position: absolute;
  //       background: $color-white-blue;
  //       height: 72px;
  //       width: 202px;
  //       -webkit-mask-image: url('../svg/mediumWing.svg');
  //       mask-image: url('../svg/largeWing.svg');
  //       -webkit-mask-repeat: no-repeat;
  //       mask-repeat: no-repeat;
  //       -webkit-mask-position: center center;
  //       mask-position: center center;
  //     }
  //
  //     .modeSelection__smallWing{
  //       top: 110px;
  //       left: 67px;
  //       position: absolute;
  //       background: $color-white-blue;
  //       height: 44px;
  //       width: 142px;
  //       -webkit-mask-image: url('../svg/smallWing.svg');
  //       mask-image: url('../svg/largeWing.svg');
  //       -webkit-mask-repeat: no-repeat;
  //       mask-repeat: no-repeat;
  //       -webkit-mask-position: center center;
  //       mask-position: center center;
  //     }
  //   }
  //
  //   .modeSelection__leaders-outline2 {
  //     transform: rotateY(180deg);
  //     width: 390px;
  //     height: 198px;
  //     position: absolute;
  //     left: 450px;
  //
  //     .modeSelection__largeWing{
  //       position: absolute;
  //       background: $color-white-blue;
  //       height: 198px;
  //       width: 390px;
  //       -webkit-mask-image: url('../svg/largeWing.svg');
  //       mask-image: url('../svg/largeWing.svg');
  //       -webkit-mask-repeat: no-repeat;
  //       mask-repeat: no-repeat;
  //       -webkit-mask-position: center center;
  //       mask-position: center center;
  //     }
  //
  //     .modeSelection__mediumWing{
  //       top: 52px;
  //       left: 2px;
  //       position: absolute;
  //       background: $color-white-blue;
  //       height: 72px;
  //       width: 202px;
  //       -webkit-mask-image: url('../svg/mediumWing.svg');
  //       mask-image: url('../svg/largeWing.svg');
  //       -webkit-mask-repeat: no-repeat;
  //       mask-repeat: no-repeat;
  //       -webkit-mask-position: center center;
  //       mask-position: center center;
  //     }
  //
  //     .modeSelection__smallWing{
  //       top: 110px;
  //       left: 67px;
  //       position: absolute;
  //       background: $color-white-blue;
  //       height: 44px;
  //       width: 142px;
  //       -webkit-mask-image: url('../svg/smallWing.svg');
  //       mask-image: url('../svg/largeWing.svg');
  //       -webkit-mask-repeat: no-repeat;
  //       mask-repeat: no-repeat;
  //       -webkit-mask-position: center center;
  //       mask-position: center center;
  //     }
  //   }
  //
  //   .leaders {
  //     height: 300px;
  //     position: relative;
  //     top: -25px;
  //
  //     .leader {
  //       width: 75px;
  //       height: 90px;
  //       left: calc(50% - 75px/2);
  //       position: absolute;
  //       top: 33px;
  //       .leader__nickname {
  //         text-overflow: ellipsis;
  //         white-space: nowrap;
  //         overflow: hidden;
  //         font-size: $size-mini;
  //       }
  //       .avatar1 {
  //         margin-right: 20px;
  //         width: 75px;
  //         height: 70px;
  //         margin: 0;
  //
  //         .outline, .outlineBorder {
  //           -webkit-mask-size: 75px;
  //           width: 75px;
  //           height: 70px;
  //         }
  //
  //         .outlineBorder, .shield {
  //           background: rgb(171,171,171);
  //           background: linear-gradient(0deg, rgba(171,171,171,1) 0%, rgba(255,255,255,1) 75%);
  //         }
  //
  //         .avatar {
  //           align-self: auto;
  //           width: 43px;
  //           height: 51px;
  //           margin-top: 14px;
  //
  //           .photo {
  //             width: 43px;
  //             height: 51px;
  //             -webkit-mask-size: 41px;
  //             mask-size: 42px;
  //           }
  //
  //           .shield {
  //             width: 43px;
  //             height: 51px;
  //             -webkit-mask-size: 41px;
  //             mask-size: 42px;
  //           }
  //         }
  //       }
  //     }
  //
  //     .leader1 {
  //       .outline {
  //         background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #0E1272;
  //       }
  //       .outlineBorder, .shield {
  //         background: rgb(0,61,255)!important;
  //         background: linear-gradient(0deg, rgba(0,61,255,1) 0%, rgba(254,254,254,1) 75%)!important;
  //       }
  //     }
  //
  //     .leader2 {
  //       top: 65px;
  //       left: calc(50% - 75px/2 - 100px);
  //       .outline {
  //         background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;
  //       }
  //     }
  //
  //     .leader3 {
  //       top: 65px;
  //       left: calc(50% - 75px/2 + 100px);
  //
  //       .outline {
  //         background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
  //       }
  //     }
  //
  //     .leader4{
  //       top: 155px;
  //       left: 110px;
  //
  //       .outline {
  //         background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
  //       }
  //     }
  //
  //     .leader5 {
  //       top: 175px;
  //       left: 205px;
  //       .outline {
  //         background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
  //       }
  //     }
  //
  //     .leader6 {
  //       top: 200px;
  //       left: 295px;
  //       .outline {
  //         background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
  //       }
  //     }
  //
  //     .leader7 {
  //       top: 155px;
  //       right: 110px;
  //       left: auto;
  //       .outline {
  //         background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
  //       }
  //     }
  //
  //     .leader8 {
  //       top: 175px;
  //       right: 205px;
  //       left: auto;
  //       .outline {
  //         background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
  //       }
  //     }
  //
  //     .leader9 {
  //       top: 200px;
  //       right: 295px;
  //       left: auto;
  //       .outline {
  //         background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
  //       }
  //     }
  //   }
  // }

  .modeSelection__content {

    .modeSelection-title {
      font-family: 'Roboto Mono';
      font-size: $size-big;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .modeSelection__mode, .modeSelection__prize, .modeSelection__rules {
      text-align: center;
      margin-bottom: 20px;
    }

    .modeSelection__mode {
      .inputS {
        width: $width-medium;

        .inputS-outline {
          -webkit-mask-image: url('../svg/borderMedium.svg');
          mask-image: url('../svg/borderMedium.svg');
        }

        p {
          color: white!important;
          font-family: 'cyberdyne';
        }
      }
      .btn-group_modeSelection {
        width: 350px;
        margin: 0 auto;
      }
    }

    .modeSelection__prize {
      .btn-group_modeSelection1, .btn-group_modeSelection2 {
        width: 400px;
        margin: 0 auto;
        margin-bottom: 10px;
        justify-content: space-around;

        .inputS {
          .inputS-outline {
            -webkit-mask-image: url('../svg/borderSmall.svg');
            mask-image: url('../svg/borderSmall.svg');
          }
          p {
            color: white!important;
            font-family: 'cyberdyne';
          }
        }
      }

      .btn-group_modeSelection2 {
        width: 390px;
      }

      .modeSelection__prize__inputS {
        width: $width-small;
      }
    }


    .modeSelection__rules {
      position: relative;
      .modeSelection__rule {
        position: relative;

        .modeSelection-image {
          position: absolute;
          top: 20px;
          left: 49px;
        }
      }
      .modeSelection__rules-content {
        margin-top: 10px;
        display: grid;
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);

        .modeSelection__rule1 {
          .modeSelection-outline {
            // height: 28px;
            background: $color-red;
            height: 97px;
            width: 110px;
            margin: 0 auto;
            -webkit-mask-image: url('../svg/treangleBotOutline.svg');
            mask-image: url('../svg/treangleBotOutline.svg');
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center center;
            mask-position: center center;
            // cursor: pointer;
          }
          .modeSelection-background {
            height: 97px;
            width: 110px;
            position: absolute;
            top: 0px;
            left: calc(50% - 55px);
            background: $color-black1;
            -webkit-mask-image: url('../svg/treangleBotBackground.svg');
            mask-image: url('../svg/treangleBotBackground.svg');
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center center;
            mask-position: center center;
          }
        }
        .modeSelection__rule2 {
          .modeSelection-image {
            top: 45px;
          }
          .modeSelection-outline {
            // height: 28px;
            background: $color-white-blue;
            height: 97px;
            width: 110px;
            margin: 0 auto;
            -webkit-mask-image: url('../svg/treangleTopOutline.svg');
            mask-image: url('../svg/treangleTopOutline.svg');
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center center;
            mask-position: center center;
            // cursor: pointer;
          }
          .modeSelection-background {
            height: 97px;
            width: 110px;
            position: absolute;
            top: 0px;
            left: calc(50% - 55px);
            background: $color-black1;
            -webkit-mask-image: url('../svg/treangleTopBackground.svg');
            mask-image: url('../svg/treangleTopBackground.svg');
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center center;
            mask-position: center center;
          }
        }
        .modeSelection__rule3 {
          .modeSelection-outline {
            // height: 28px;
            background: $color-white-blue;
            height: 97px;
            width: 110px;
            margin: 0 auto;
            -webkit-mask-image: url('../svg/treangleBotOutline.svg');
            mask-image: url('../svg/treangleBotOutline.svg');
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center center;
            mask-position: center center;
            // cursor: pointer;
          }
          .modeSelection-background {
            height: 97px;
            width: 110px;
            position: absolute;
            top: 0px;
            left: calc(50% - 55px);
            background: $color-black1;
            -webkit-mask-image: url('../svg/treangleBotBackground.svg');
            mask-image: url('../svg/treangleBotBackground.svg');
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center center;
            mask-position: center center;
          }
        }
      }
    }

    .inputS {
      width: $width-short;
      margin: 0 auto;
      .inputS-outline {
        -webkit-mask-image: url('../svg/borderSmall.svg');
        mask-image: url('../svg/borderSmall.svg');
      }
      p {
        text-align: center;
        width: 100%;
      }
    }
  }
}

/////////////////////////////HALL OF FAME///////////////////////////////////////

.hallOfFame {
  padding-top: 20px;
  z-index: 100;
  position: relative;
  margin: 0 auto;
  width: 582px;

  .hallOfFame__header {
    height: 250px;
    display: grid;
    grid-template-columns: 60% 30%;
    grid-gap: 10%;

    .hallOfFame__leaders {
      .hallOfFame__leaders-title {
        text-align: center;
      }

      .leaders {
        width: 100%;
        height: 75%;
        position: relative;
        top: 40px;
        .leader {
          width: 75px;
          height: 90px;
          left: calc(50% - 75px/2);
          position: absolute;
          .leader__nickname {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: $size-mini;
          }
          .avatar1 {
            margin-right: 20px;
            width: 75px;
            height: 70px;
            margin: 0;

            .outlineBorder, .shield {
              background: rgb(171,171,171);
              background: linear-gradient(0deg, rgba(171,171,171,1) 0%, rgba(255,255,255,1) 75%);
            }

            .outline, .outlineBorder {
              -webkit-mask-size: 75px;
              width: 75px;
              height: 70px;
            }

            .avatar {
              align-self: auto;
              width: 43px;
              height: 51px;
              margin-top: 14px;

              .photo {
                width: 43px;
                height: 51px;
                -webkit-mask-size: 41px;
                mask-size: 42px;
              }

              .shield {
                width: 43px;
                height: 51px;
                -webkit-mask-size: 41px;
                mask-size: 42px;
              }
            }
          }
        }

        .leader1 {
          .outline {
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #0E1272;
          }
          .outlineBorder, .shield {
            background: rgb(0,61,255)!important;
            background: linear-gradient(0deg, rgba(0,61,255,1) 0%, rgba(254,254,254,1) 75%)!important;
          }
        }

        .leader2 {
          top: 100px;
          left: 35px;
          .outline {
            background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
          }
        }

        .leader3 {
          top: 100px;
          left: 240px;
          .outline {
            background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
          }

        }
      }
      .hallOfFame__leaders-outline1 {
        width: 159px;
        height: 159px;
        position: absolute;

        .hallOfFame__largeWing{
          position: absolute;
          background: $color-white-blue;
          height: 159px;
          width: 159px;
          -webkit-mask-image: url('../svg/largeWingMini.svg');
          mask-image: url('../svg/largeWingMini.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
        }

        .hallOfFame__mediumWing{
          top: 40px;
          left: 2px;
          position: absolute;
          background: $color-white-blue;
          height: 61px;
          width: 83px;
          -webkit-mask-image: url('../svg/mediumWingMini.svg');
          mask-image: url('../svg/largeWingMini.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
        }

        .hallOfFame__smallWing{
          top: 87px;
          left: 30px;
          position: absolute;
          background: $color-white-blue;
          height: 36px;
          width: 58px;
          -webkit-mask-image: url('../svg/smallWingMini.svg');
          mask-image: url('../svg/largeWingMini.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
        }
      }
      .hallOfFame__leaders-outline2 {
        transform: rotateY(180deg);
        left: 450px;
        width: 159px;
        height: 159px;
        float: right;

        .hallOfFame__largeWing{
          position: absolute;
          background: $color-white-blue;
          height: 159px;
          width: 159px;
          -webkit-mask-image: url('../svg/largeWingMini.svg');
          mask-image: url('../svg/largeWingMini.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
        }

        .hallOfFame__mediumWing{
          top: 40px;
          left: 2px;
          position: absolute;
          background: $color-white-blue;
          height: 61px;
          width: 83px;
          -webkit-mask-image: url('../svg/mediumWingMini.svg');
          mask-image: url('../svg/largeWingMini.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
        }

        .hallOfFame__smallWing{
          top: 87px;
          left: 30px;
          position: absolute;
          background: $color-white-blue;
          height: 36px;
          width: 58px;
          -webkit-mask-image: url('../svg/smallWingMini.svg');
          mask-image: url('../svg/largeWingMini.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
        }

      }
    }

    .hallOfFame__information {
      border: 1px solid $color-yellow;
      border-radius: 15px;

      .hallOfFame__information-data {
        font-size: $size-mini;
        margin-left: 10px;
        div {
          margin-top: 5px;
          display: grid;
          grid-template-columns: 50% 45%;
          grid-gap: 5%;

          p {
            font-family: 'Roboto Mono';
            margin-right: 10px;
            font-size: $size-medium;
          }
          label {
            font-family: "cyberdyne";
            color: $color-white-blue;
            font-size: $size-medium;
          }
        }
      }

      .avatar1 {
        margin: 10px auto;
        height: 60px;
        width: 50px;

        .avatar {
          height: 60px;
          width: 50px;
        }
        .photo {
          -webkit-mask-size: 50px;
          height: 60px;
          width: 50px;
        }

        .shield {
          -webkit-mask-size: 50px;
          height: 60px;
          width: 50px;
        }

        .outline {
          background: none;
          height: 60px;
          width: 50px;
        }

        .outlineBorder {
          background: none;
          display: none;
        }
      }
    }
  }

  .hallOfFame__list {
    margin-top: 30px;
    .hallOfFame__list-header {
      display: grid;
      grid-template-columns: 55px 50px 65px 75px;
      grid-gap: 50px;
      background: $color-black1;
      padding-left: 150px;
      font-size: $size-mini;
      height: 50px;
      padding-top: 5px;
    }

    .hallOfFame__list-element {
      display: grid;
      grid-template-columns: 30px 99px 95px 90px 105px 113px;
      grid-gap: 10px;
      height: 105px;

      .hallOfFame__position {
        width: 30px;
        padding-top: 30px;
        font-size: $size-large;
        font-family: "cyberdyne 3D";
        color: $color-yellow;
        text-align: center;
      }

      .hallOfFame__raiting, .hallOfFame__winRate,
        .hallOfFame__matchesPlayed, .hallOfFame__matchesWon {
        padding-top: 30px;
        font-family: 'cyberdyne';
        font-size: $size-big;
        color: $color-white-blue;
      }

      .hallOfFame__leader {
        padding-top: 10px;
        .avatar1 {
          width: 75px;
          height: 70px;
          margin: 0 auto;

          .outline {
            -webkit-mask-size: 75px;
            width: 75px;
            height: 70px;
            background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;
            .avatar {
              margin: 0 auto;
              width: 43px;
              height: 51px;
              margin-top: 14px;
              .photo {
                width: 43px;
                height: 51px;
                -webkit-mask-size: 41px;
              }

              .shield {
                width: 43px;
                height: 51px;
                -webkit-mask-size: 41px;
              }
            }
          }

          .outlineBorder {
            -webkit-mask-size: 75px;
            width: 75px;
            height: 70px;
            background: rgb(171,171,171);
            background: linear-gradient(0deg, rgba(171,171,171,1) 0%, rgba(255,255,255,1) 75%);
          }
        }

        .leader__nickname {
          font-size: $size-mini;
          text-align: center;
        }
      }
    }

    .hallOfFame__list-type0 {
      background: $color-black2;
    }
  }
}

/////////////////////////////ARENA//////////////////////////////////////////////

.arena {
  padding-top: 20px;
  z-index: 100;
  position: relative;
  margin: 0 auto;
  width: 582px;

  .arena__leaders {
    position: relative;
    height: 300px;
    width: calc(390px + 390px + 60px);
    left: calc(50% - (390px + 390px + 60px)/2);

    .arena__leaders-outline1 {
      width: 390px;
      height: 198px;
      position: absolute;

      .arena__largeWing{
        position: absolute;
        background: $color-white-blue;
        height: 198px;
        width: 390px;
        -webkit-mask-image: url('../svg/largeWing.svg');
        mask-image: url('../svg/largeWing.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
      }

      .arena__mediumWing{
        top: 52px;
        left: 37px;
        position: absolute;
        background: $color-white-blue;
        height: 72px;
        width: 202px;
        -webkit-mask-image: url('../svg/mediumWing.svg');
        mask-image: url('../svg/largeWing.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
      }

      .arena__smallWing{
        top: 95px;
        left: 95px;
        position: absolute;
        background: $color-white-blue;
        height: 44px;
        width: 142px;
        -webkit-mask-image: url('../svg/smallWing.svg');
        mask-image: url('../svg/largeWing.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
      }
    }

    .arena__leaders-outline2 {
      transform: rotateY(180deg);
      height: 198px;
      width: 390px;
      position: absolute;
      left: 450px;

      .arena__largeWing{
        position: absolute;
        background: $color-white-blue;
        height: 198px;
        width: 390px;
        -webkit-mask-image: url('../svg/largeWing.svg');
        mask-image: url('../svg/largeWing.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
      }

      .arena__mediumWing{
        top: 52px;
        left: 37px;
        position: absolute;
        background: $color-white-blue;
        height: 72px;
        width: 202px;
        -webkit-mask-image: url('../svg/mediumWing.svg');
        mask-image: url('../svg/largeWing.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
      }

      .arena__smallWing{
        top: 95px;
        left: 95px;
        position: absolute;
        background: $color-white-blue;
        height: 44px;
        width: 142px;
        -webkit-mask-image: url('../svg/smallWing.svg');
        mask-image: url('../svg/largeWing.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
      }
    }

    .leaders {
      height: 300px;
      position: relative;
      top: -25px;

      .leader {
        width: 75px;
        height: 90px;
        left: calc(50% - 75px/2);
        position: absolute;
        top: 33px;
        .leader__nickname {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: $size-mini;
        }
        .avatar1 {
          margin-right: 20px;
          width: 75px;
          height: 70px;
          margin: 0;

          .outlineBorder, .shield {
            background: rgb(171,171,171);
            background: linear-gradient(0deg, rgba(171,171,171,1) 0%, rgba(255,255,255,1) 75%);
          }

          .outline, .outlineBorder {
            -webkit-mask-size: 75px;
            width: 75px;
            height: 70px;
          }

          .avatar {
            align-self: auto;
            width: 43px;
            height: 51px;
            margin-top: 14px;

            .photo {
              width: 43px;
              height: 51px;
              -webkit-mask-size: 41px;
              mask-size: 42px;
            }

            .shield {
              width: 43px;
              height: 51px;
              -webkit-mask-size: 41px;
              mask-size: 42px;
            }
          }
        }
      }

      .leader1 {
        .outline {
          background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #0E1272;
        }
        .outlineBorder, .shield {
          background: rgb(0,61,255)!important;
          background: linear-gradient(0deg, rgba(0,61,255,1) 0%, rgba(254,254,254,1) 75%)!important;
        }
      }

      .leader2 {
        top: 65px;
        left: calc(50% - 75px/2 - 100px);
        .outline {
          background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;
        }
      }

      .leader3 {
        top: 65px;
        left: calc(50% - 75px/2 + 100px);

        .outline {
          background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
        }
      }

      .leader4{
        top: 155px;
        left: 110px;

        .outline {
          background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
        }
      }

      .leader5 {
        top: 175px;
        left: 205px;
        .outline {
          background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
        }
      }

      .leader6 {
        top: 200px;
        left: 295px;
        .outline {
          background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
        }
      }

      .leader7 {
        top: 155px;
        right: 110px;
        left: auto;
        .outline {
          background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
        }
      }

      .leader8 {
        top: 175px;
        right: 205px;
        left: auto;
        .outline {
          background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
        }
      }

      .leader9 {
        top: 200px;
        right: 295px;
        left: auto;
        .outline {
          background: linear-gradient(180deg, #F5F7F8 0%, rgba(255, 255, 255, 0) 100%), #353E3E;;
        }
      }
    }
  }

  .arena__header {
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: $size-large;
    text-align: center;
    margin: 20px 0;
  }

  .arena__content {
    border: 1px solid $color-white-blue;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 150px calc(100% - 300px) 150px;
    padding: 20px 0;

    .avatar1 {
      height: 85px;
      width: 70px!important;
      margin: 0 auto;
      .avatar, .photo, .shield, .outline {
        height: 85px;
        width: 70px;
      }
      .outline {
        background: none;
      }
      .outlineBorder {
        display: none;
      }
    }

    .arena__player1, .arena__player2 {
      font-size: $size-big;
      text-align: center;
      font-weight: bold;

      .inputS {
        width: $width-short;
        margin: 0 auto;
        margin-top: 10px;

        .inputS-outline {
          -webkit-mask-image: url('../svg/borderShort.svg');
          mask-image: url('../svg/borderShort.svg');
        }

        p {
          font-weight: normal;
          text-align: center;
          width: 100%;
          color: white!important;
        }
      }
    }

    .arena__ticker {
      text-align: center;
      .arena__title {
        font-size: $size-big;
      }

      .arena__ticker {
        font-family: 'cyberdyne outline';
        font-size: 36px;
        color: $color-yellow;
        line-height: 25px;
        height: 25px;

      }

      .arena__bet {
        font-family: 'cyberdyne condensed';
        font-size: 36px;
        color: $color-red;

      }
    }
  }

}

/////////////////////////////OPTIONS////////////////////////////////////////////

.options {
  padding-top: 20px;
  z-index: 100;
  position: relative;
  margin: 0 auto;
  width: 582px;
  display: grid;
  grid-template-columns: 70px calc(100% - 70px - 80px);
  grid-gap: 80px;

  .options__avatar {
    height: 85px;
    position: relative;
    .avatar1 {
      width: 70px;
      height: 85px;
      .outline {
        background: none;
        width: 70px;
        height: 85px;

        .avatar, .photo, .shield {
          width: 70px;
          height: 85px;
        }
      }

      .outlineBorder {
        display: none;
      }
    }

    .options__changeAvatar {
      position: absolute;
      top: calc(50% - 17px);
      left: calc(50% - 17px);
      cursor: pointer;
    }
  }

  .options__data {
    .options__sex {
      cursor: pointer;
      margin-bottom: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 385px;
      margin-bottom: 20px;

      .options_title {
        font-weight: bold;
        font-size: $size-standart;
      }

      p {
        color: $color-gray;
        font-size: $size-mini;
      }

      .options__radioB {
        // width: 360px;
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-gap: 15px;
        padding-top: 5px;

        .radioB {
          display: flex;
          flex-direction: columns;
        }

        p {
          display: inline;
          margin-right: 7px;
        }

        img {
          width: 18px;
          height: 18px;
          margin-left: 1px;
          margin-bottom: 8px;
          transform: rotate(45deg);
        }

        .options__outline {
          border-radius: 2px;
          border: 1px solid $color-white-blue;
          margin-top: -2px;
          width: 22px;
          height: 22px;
        }
      }
    }
    .phone_options, .email_options {
      margin-bottom: 25px;
    }
  }
}

/////////////////////////////RIGHT BAR//////////////////////////////////////////

.right {
  position: relative;
  width: 200px;
  height: 100%;
  overflow: hidden;

  .rightBar:hover {
    margin-left: 0px;
    transition: .5s ease-in-out;
  }

  .rightBar {
    width: 200px;
    height: 494px;
    // margin-left: 175px;
    margin-left: 0px;
    margin-top: 100px;
    transition: .5s ease-in-out;
    position: fixed;

    .header, .content, .footer {
      width: 100%;
      height: 100%;
    }

    .header {
      position: absolute;
      top: 0;

      .header-buttons {
        display: grid;
        grid-template-columns: 36px 36px 36px 36px;
        grid-gap: 5px;
        margin-left: 25px;
        margin-top: 15px;

        .openChat {
          width: 30px;
          height: 30px;
          .inputS {
            height: 100%;
            width: 100%;

            .inputS-outline {
              position: absolute;
              background: rgb(131, 228, 228);
              top: 1px;
              left: -3px;
              width: 36px;
              height: 30px;
              -webkit-mask-image: url('../svg/borderVerySmall.svg');
              mask-image: url('../svg/borderVerySmall.svg');
            }

            .inputS_imgRight {
              height: 100%;
              width: 100%;

              .image {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 2px;
                -webkit-mask-size: 19px;
                -webkit-mask-image: url('../svg/chat.svg');
                mask-image: url('../svg/chat.svg');
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: center center;
                mask-position: center center;
              }
            }
          }
        }

        .challenge {
          width: 30px;
          height: 30px;
          .inputS {
            width: 100%;
            height: 100%;

            .inputS-outline {
              position: absolute;
              background: rgb(131, 228, 228);
              top: 1px;
              left: -3px;
              width: 36px;
              height: 30px;
              -webkit-mask-image: url('../svg/borderVerySmall.svg');
              mask-image: url('../svg/borderVerySmall.svg');
            }

            .inputS_imgRight {
              width: 100%;
              height: 100%;

              .image {
                background: red;
                width: 100%;
                height: 100%;
                position: absolute;
                -webkit-mask-size: 20px;
                -webkit-mask-image: url('../svg/challenge.svg');
                mask-image: url('../svg/challenge.svg');
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: center center;
                mask-position: center center;
              }
            }
          }
        }

        .newFriend {
          width: 30px;
          height: 30px;
          .inputS {
            width: 100%;
            height: 100%;

            .inputS-outline {
              position: absolute;
              background: rgb(131, 228, 228);
              top: 1px;
              left: -3px;
              width: 36px;
              height: 30px;
              -webkit-mask-image: url('../svg/borderVerySmall.svg');
              mask-image: url('../svg/borderVerySmall.svg');
            }

            .inputS_imgRight {
              width: 100%;
              height: 100%;
              .image {
                background: red;
                width: 100%;
                height: 100%;
                position: absolute;
                -webkit-mask-size: 20px;
                -webkit-mask-image: url('../svg/newFriend.svg');
                mask-image: url('../svg/newFriend.svg');
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: center center;
                mask-position: center center;
              }
            }
          }
        }

        .newGroup {
          width: 30px;
          height: 30px;
          .inputS {
            width: 100%;
            height: 100%;

            .inputS-outline {
              position: absolute;
              background: rgb(131, 228, 228);
              top: 1px;
              left: -3px;
              width: 36px;
              height: 30px;
              -webkit-mask-image: url('../svg/borderVerySmall.svg');
              mask-image: url('../svg/borderVerySmall.svg');
            }

            .inputS_imgRight {
              width: 100%;
              height: 100%;
              .image {
                background: red;
                width: 100%;
                height: 100%;
                position: absolute;
                -webkit-mask-size: 20px;
                -webkit-mask-image: url('../svg/newGroup.svg');
                mask-image: url('../svg/newGroup.svg');
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: center center;
                mask-position: center center;
              }
            }
          }
        }
      }

      .header-search {
        width: 180px;
        // position: absolute;
        // top: 100px;
        margin-top: 45px;
        margin-left: 10px;
        border-bottom: 1px solid $color-white-blue;

        .search-image:hover {
          background: $color-yellow;
        }
        .search-image {
          position: absolute;
          height: 20px;
          width: 20px;
          background: $color-white-blue;
          -webkit-mask-image: url('../svg/search.svg');
          mask-image: url('../svg/search.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
          cursor: pointer;
        }

        .textIF{
          width: 150px;
          margin-left: 30px;
          input {
            background: $color-black2;
            width: 100%;
            padding: 0;
            font-size: $size-mini;
            border: none;
            outline: none;
          }
         }
      }
    }

    .content {
      position: absolute;
      top: 150px;
      height: 295px;
      img {
        width: 180px;
        height: 180px;
        position: absolute;
        left: calc(50% - 90px);
      }
    }

    .rightBar-outline {
      width: 200px;
      height: 494px;
      background: $color-white-blue;
      -webkit-mask-image: url('../svg/rightBarOutline.svg');
      mask-image: url('../svg/rightBarOutline.svg');
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      mask-position: center center;
    }

    .rightBar-background {
      position: absolute;
      top: 0px;
      margin-left: 2px;
      width: 200px;
      height: 494px;
      background: $color-black1;
      -webkit-mask-image: url('../svg/rightBarBackground.svg');
      mask-image: url('../svg/rightBarBackground.svg');
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      mask-position: center center;
    }

  }
}

/////////////////////////////LEFT BAR///////////////////////////////////////////


/////////////////////////////CHAT///////////////////////////////////////////////
.modalForm {
  width: 250px!important;
  height: 300px!important;
  background: $color-black1;
  border: 1px solid $color-white-blue;
  border-radius: 16px;
  position: fixed;
  z-index: 200;

  .flexible-modal-drag-area{
    height: 50px;
    width: 250px!important;
    position:absolute;
    right:0;
    top:0;
    cursor:move;
  }

  .flexible-modal-drag-area-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px!important;
    width: 15px;
    cursor:move;
  }

  .flexible-modal-drag-area-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 300px!important;
    width: 15px;
    cursor:move;
  }

  .flexible-modal-drag-area-bottom {
    position: absolute;
    bottom: 0;
    height: 15px;
    width: 250px;
    cursor:move;
  }

  .flexible-modal-resizer {
    display: none;
  }


  .header {
    height: 35px;
    margin: 7px 15px;
    border-bottom: 1px solid $color-white-blue;
    width: 220px;
    display: flex;
    justify-content: flex-end;

    .title {
      margin: 0 auto;
    }

    img {
      height: 18px;
      position: absolute;
      top: 5px;
      right: 10px;
    }

  }

  .content {
    .dialogs {
      list-style: none;
      width: 220px;
      padding: 5px 15px;
      .dialog {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        .data {
          width: calc(100% - 20px);
          p {
            width: calc(100% - 70px);
            font-size: $size-mini;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .nickName {
            width: calc(100% - 20px);
            font-size: $size-medium;
          }
        }

        .avatar {
          margin-right: 10px;
          img {
            border-radius: 15px;
            height: 30px;
            width: 30px;
          }
        }

        .chat {
          width: 250px!important;
          height: 300px!important;
          position: absolute;
          border: 1px solid $color-white-blue;
          border-top-right-radius: 16px;
          border-top-left-radius: 16px;
          background: $color-black1;
          top: 100px;
          left: 200px;
          z-index: 300;

          .chat__content {
            padding: 5px 15px;
          }

          .chat__header {
            height: 35px;
            margin: 7px 15px;
            border-bottom: 1px solid $color-white-blue;
            width: 220px;
            button {
              position: relative;
              z-index: 200;
            }
          }

          .chat__footer {
            position: absolute;
            bottom: 0px;
            width: 250px;
            height: 30px;
            form {
              margin: 0;
              display: flex;
              flex-direction: row;
            }
            .textIF {
              input {
                width: 220px;
                height: 30px;
              }
            }
          }

          .flexible-modal-drag-area-bottom, .flexible-modal-drag-area-right, .flexible-modal-drag-area-left {
            display: none;
          }
        }

      }
    }
  }

}
