@import '~antd/dist/antd.css';
@import './cyberdyne.css';
@import './robotoMono.css';

$color-dark-blue: #56CCF2;
$color-blue: #83E4E4;
$color-red: #EB5757;
$color-yellow: #FFD074;
$color-black: #11161B;
$color-gray: #F2F2F2;
$color-white: #FFFFFF;
$color-green: #B2DF8A;

$size-standart: 16px;
$size-big: 18px;
$size-mini: 12px;

$width-big: 210px;

@keyframes comeIn {
    0% { transform: scale(.5); opacity: 0; }
    75% { transform: scale(1.03); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}

// main
body, html, #root, .App {
  height: 100%;
  width: 100%;
  background: url("../images/background.jpg");
  background-size: 100%;
}

h1 {
  color: $color-gray;
  font-size: $size-big;
  text-align: center;
  margin-bottom: 50px;
}

p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

div {
  word-wrap: break-word;
}

body {
  // -apple-system, BlinkMacSystemFont,
  margin: 0;
  font-family: 'Roboto Mono', 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-gray;
  font-size: $size-standart;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background_g1, .background_g2 {
  z-index: 1;
  opacity: 5%;
  position: fixed;
  top: calc(50% - 300px);
  left: calc(50% - 350px);
}

.background_g2 {
  top: calc(50% - 115px);
  left: calc(50% - 250px);
}

//circular progress bar ________________________________________________________
.circle-background {
	fill: none;
	stroke: #ddd;
}

.circle-progress {
	fill: none;
	stroke: red;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.circle-text {
	font-size: 3em;
	font-weight: bold;
	fill: red;
}

//avatar2 ______________________________________________________________________
.avatar2 {
  width: 32px;
  height: 32px;

  img {
    border-radius: 16px;
  }
}
//text input field _____________________________________________________________
.textIF {
  p {
    color: $color-gray;
    font-size: $size-standart;
    font-weight: bold;
  }

  input {
    padding: 0 10px;
    color: $color-white;
    background: $color-black;
    border: $color-blue 1px solid;
    border-radius: 3px;
    font-size: $size-mini;
    width: 366px;
  }
}

//input submit _________________________________________________________________
.inputS {
  p {
    color: $color-blue;
    font-size: $size-standart;
    position: absolute;
  }

  input{
    border: none;
    height: 28px;
    -webkit-mask-image: url('../svg/border.svg');
    mask-image: url('../svg/border.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    cursor: pointer;

  }
}

.avatar1 {
  cursor: pointer;

  .outline {
    position: absolute;
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-mask-size: 128px;
    width: 133px;
    height: 130px;
    // mask-size:
    -webkit-mask-image: url('../svg/outline.svg');
    mask-image: url('../svg/outline.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center center;
  }

  .avatar {
    height: 70px;
    width: 70px;
    margin: 0 auto;
    align-self: center;

    .shield {
      position: absolute;
      background: rgb(241,239,239);
      background: linear-gradient(180deg, rgba(241,239,239,1) 0%, rgba(203,250,252,1) 100%);

      // background: rgb(2,0,36);
      // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
      width: 70px;
      height: 83px;
      -webkit-mask-image: url('../svg/shieldOutline.svg');
      mask-image: url('../svg/shieldOutline.svg');
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      mask-position: center center;
    }

    .photo {
      position: absolute;
      width: 70px;
      height: 83px;
      display: block;
      -webkit-mask-image: url('../svg/shield.svg');
      mask-image: url('../svg/shield.svg');
      -webkit-mask-position: center center;
      mask-position: center center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
    }
  }


}

//button submit ________________________________________________________________
.buttonS {
  cursor: pointer;
}

////////////////////////////REGISTRATION////////////////////////////////////////

//registration _________________________________________________________________
.registration {
  position: relative;
  z-index: 100;
  padding-top: 84px;
  width: 582px;
  margin: 0 auto;
  height: 100%;

  form {
    width: 370px;
    margin: 0 auto;
  }

  .registration__signIn {
    width: 366px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;

    .registration__button {
      background: none;
      font-size: $size-standart;
      color: $color-gray;
      border: none;
    }
  }

  .registration_tittle {
    font-weight: bold!important;
    font-size: $size-standart!important;
    color: $color-gray!important;
  }

  .registration__login, .registration__password, .registration__confirm-password {
    margin-bottom: 12px;
  }

  .registration__date {
    margin-bottom: 12px;
    p {
      font-size: $size-standart;
      color: $color-gray;
    }

    .ant-select {
      width: 78px;
    }

    .registration__dateSelector {
      display: grid;
      grid-template-columns: 100px 100px 100px;
      grid-gap: 30px;
    }

    .ant-select-selector {
      height: 17px;
      background: $color-black;
      border: $color-blue 1px solid;
      border-radius: 3px;
      font-size: $size-mini;
      color: $color-gray;
      text-align: center;
    }

    .ant-select-selection-search {
      left: 0px;
      width: 95px;
    }

    .ant-select-selection-item {
      margin: 0 auto;
      line-height: 17px;
      padding: 0;
    }

    .ant-select-arrow {
      right: -17px;
      color: $color-white;
      font-size: 12px;
      margin-top: -7px;
      width: 15px;
      height: 14px;
    }
  }

  .registration__sex {
    cursor: pointer;
    margin-bottom: 12px;
    p {
      color: $color-gray;
      font-size: $size-mini;
    }

    .registration__radioB {
      display: grid;
      grid-template-columns: 100px 100px 100px;
      grid-gap: 30px;

      .radioB {
        display: flex;
        flex-direction: columns;
      }

      p {
        display: inline;
        margin-right: 7px;
      }

      img {
        width: 18px;
        height: 18px;
        margin-left: 1px;
        margin-bottom: 8px;
        transform: rotate(45deg);
      }

      .registration__outline {
        border-radius: 2px;
        border: 1px solid $color-blue;
        margin-top: -2px;
        width: 22px;
        height: 22px;
      }
    }
  }

  .registration__inputS {
    width: $width-big;
    display: block;
    margin: 0 auto;
    margin-top: 50px;

    p {
      text-align: center;
      width: $width-big;
    }

    input {
      background-size: $width-big 28px;
      color: $color-gray;
      width: $width-big;
    }
  }

  .registration__exist {
    color: $color-gray;
    font-size: $size-mini;
  }
}

////////////////////////////SIGN IN/////////////////////////////////////////////

//sign in ______________________________________________________________________
.signIn {
  position: relative;
  z-index: 100;
  padding-top: 84px;
  width: 582px;
  margin: 0 auto;
  height: 100%;

  form {
    width: 370px;
    margin: 0 auto;
  }

  .signIn__login, .signIn__password {
    margin-bottom: 12px;
  }

  .signIn__inputS {
    width: $width-big;
    display: block;
    margin: 0 auto;
    margin-top: 50px;

    p {
      text-align: center;
      width: $width-big;
    }
    input {
      background-size: $width-big 28px;
      color: $color-gray;
      width: $width-big;
    }
  }

  .signIn_button {
    width: 123px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background: none;
    color: $color-gray;
    font-size: $size-mini;
    border: none;
  }
}

////////////////////////////REQUEST RECOVERY PASSWORD///////////////////////////

//request recovery password ____________________________________________________
.requestRecPas {
   position: relative;
   z-index: 100;
   padding-top: 84px;
   width: 582px;
   margin: 0 auto;
   height: 100%;

   form {
     width: 370px;
     margin: 0 auto;
   }

   .requestRecPas__inputS {
     width: $width-big;
     display: block;
     margin: 0 auto;
     margin-top: 50px;

     p {
       text-align: center;
       width: $width-big;
     }

     input {
       background-size: $width-big 28px;
       color: $color-gray;
       width: $width-big;
     }
   }

   .requestRecPas__text {
     margin-top: 20px;
     color: $color-gray;
     font-size: $size-mini;
   }
 }

////////////////////////////RECOVERY PASSWORD///////////////////////////////////

//recovery passwod _____________________________________________________________
.recoveryPas {
  position: relative;
  z-index: 100;
  padding-top: 84px;
  width: 582px;
  margin: 0 auto;
  height: 100%;

  form {
    width: 370px;
    margin: 0 auto;
  }

  .recoveryPas__password, .recoveryPas__confirmPas {
    margin-bottom: 12px;
  }

  .recoveryPas__inputS {
    width: $width-big;
    display: block;
    margin: 0 auto;
    margin-top: 50px;

    p {
      text-align: center;
      width: $width-big;
    }

    input {
      background-size: $width-big 28px;
      color: $color-gray;
      width: $width-big;
    }
  }
}

/////////////////////////////NEWS///////////////////////////////////////////////

//news _________________________________________________________________________
.news {
  width: 582px;
  margin: 0 auto;
  margin-top: 50px;
  z-index: 100;
  position: relative;
  .post {
    width: 100%;
    background: $color-black;
    border: 1px solid $color-blue;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: 35px;
    padding: 10px 20px 8px 20px;

    .news__post-header {
      font-family: 'cyberdyne';
      border-bottom: 1px solid $color-gray;
      display: grid;
      grid-template-columns: 375px 165px;
      padding-bottom: 7px;
      margin-bottom: 15px;

      .news__post-leftSide, .news__post-rightSide {
        display: flex;
        flex-direction: row;
      }

      .news__post-leftSide {
        font-size: $size-big;
        display: flex;

        .news__post-author {
          align-self: center;
        }

        .avatar1 {
          margin-right: 20px;
          width: 41px;
          height: 48px;

          .outline {
            width: 41px;
            height: 48px;
            background: none;
          }

          .avatar {
            align-self: auto;
            width: 41px;
            height: 48px;

            .photo {
              width: 41px;
              height: 48px;
              -webkit-mask-size: 40px;
              mask-size: 40px;
            }

            .shield {
              width: 41px;
              height: 48px;
              -webkit-mask-size: 40px;
              mask-size: 40px;
            }
          }
        }
      }

      .news__post-rightSide {
        display: flex;
        font-size: $size-mini;

        .news__post-date {
          align-self: center;
          margin-right: 30px;
        }

        .news__post-time {
          align-self: center;
        }
      }
    }

    .news__post-content {
      .news__post-text {
        // font-family: 'Roboto Mono';
        margin-bottom: 15px;
        line-height: 120%;
      }

      .news__post-photos {
        width: 540px;
        height: 100%;

        .picture {
          max-width: 540px;
          margin-right: 5px;
          margin-bottom: 5px;
          img {
            max-width: 540px;
          }
        }

        .pictures {
          animation: comeIn ease 0.5s;
          animation-iteration-count: 1;
          transition: left .3s ease, top .3s ease;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
        }
      }

    }

    .news__footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 10px;
      .news__post-likes, .news__post-dislikes, .news__post-comments {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        font-size: $size-mini;
        p {
          padding-top: 5px;
          padding-left: 5px;
        }
      }

      .news__post-comments {
        margin-right: 0;
      }
    }
  }

  .comments {
    background: $color-black;
    border: 1px solid $color-blue;
    // padding: 15px 40px 8px 40px;
    border-radius: 15px;
    margin-bottom: 25px;

    .news__moreComments {
      font-size: $size-mini;
      // margin-bottom: 15px;
      margin: 15px 40px 15px 40px;
    }

    .comment {
      font-family: 'Roboto';
      border-bottom: 1px solid $color-blue;
      // margin-bottom: 15px;
      margin: 0 40px 15px 40px;
      .news__comment-content {
        display: grid;
        grid-template-columns: 32px 440px;
        grid-gap: 18px;

        .news__comment-rightSide {
          .news__comment-nickName {
            font-size: $size-big;
            color: $color-blue;
          }

          .news__comment-text {
            font-size: $size-standart;
          }
        }
      }

      .news__comment-footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 10px;
        margin-bottom: 15px;
        .news__comment-likes, .news__comment-dislikes {
          display: flex;
          flex-direction: row;
          margin-right: 20px;
          font-size: $size-mini;
          p {
            padding-top: 5px;
            padding-left: 5px;
          }
        }
      }
    }

    .news__reply {
      display: grid;
      grid-template-columns: 32px 460px 26px;
      grid-gap: 10px;
      margin: 0 20px 15px 20px;

      .avatar2 {
        img {
          width: 32px;
          height: 32px;
        }
      }

      .news__reply-input {
        border: 1px solid $color-blue;
        border-radius: 5px;
        min-height: 40px;
        padding: 6px 10px 2px 10px;
      }
    }
  }

}

.news__portal {
  background: #181e26bf;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  display: flex;

  .news__portal-wrap {
    width: calc(70vw + 120px);
    min-width: 720px;
    max-width: 920px;
    margin: 0 auto;
    align-self: center;
  }

  .news__portal-picture {
    width: 70vw;
    min-width: 600px;
    max-width: 800px;
  }

  .news__portal-prevPicture {
    height: 40px;
    width: 40px;
    margin-right: 20px;
  }

  .news__portal-nextPicture {
    height: 40px;
    width: 40px;
    margin-left: 20px;
  }
}

/////////////////////////////PERSONAL PAGE//////////////////////////////////////

.personalPage {
  padding-top: 20px;
  z-index: 100;
  position: relative;
  margin: 0 auto;
  width: 582px;

  .statics {
    padding: 20px 30px;
    margin-top: 40px;
    border: 1px solid $color-blue;
    border-radius: 20px;
    display: grid;
    grid-gap: 29px;
    grid-template-columns: 157px 157px 157px;

    span {
      font-family: "cyberdyne";
      color: $color-dark-blue;
    }

    .personalPage__statics-column1 {
      div {
        position: relative;
        margin-bottom: 10px;
      }

      span {
        top: 0px;
        right: 0px;
        position: absolute;
      }


    }

    .personalPage__statics-column2 {
      text-align: center;

      p {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: $size-big;
      }
    }

    .personalPage__statics-column3 {
      div {
        position: relative;
        margin-bottom: 10px;
      }

      span {
        top: 0px;
        right: 0px;
        position: absolute;
      }
    }
  }
}
